[2019-02-06 01:15] maddy2894 opened #3 "UI labels needs spacing"
<h1> Issue</h1>
<h3>Screenshot</h3>
<img width="677" alt="screen shot 2019-02-06 at 12 07 58 pm" src="https://user-images.githubusercontent.com/42700140/52314843-7c002500-2a08-11e9-9805-870949ff14eb.png">
I guess UI labels needs some spacing inbetween. If it's okay, I will work on this.

Cheers.

[2019-02-07 15:08] moshfeu commented on #3
Thanks @maddy2894 ,

@emmawedekind is working on a design for the UI. It's just POC and not ready for production yet.

[2019-02-07 15:08] #3 closed

[2019-03-10 10:37] moshfeu opened #25 "Change querystring while searching for permalinks"
<img width="451" alt="Screen Shot 2019-03-10 at 12 36 23" src="https://user-images.githubusercontent.com/3723951/54083789-2aadc300-4331-11e9-9fa9-9d3cc40e6c70.png">

When user selects Language or Country, the querystring should be changed (**w
ithout refresh**) in the following format:

    ?tech=react

Or

    ?country=israel

(Or both).

When user gets to the site with these keys, the dropdowns

[2019-03-10 11:22] moshfeu opened #26 "Add Google Analytics event when user click on channel"
<img width="373" alt="Screen Shot 2019-03-10 at 12 39 03" src="https://user-images.githubusercontent.com/3723951/54083832-96902b80-4331-11e9-9c5e-4b9f511beb10.png">

Currently, the Google Analytics integration is using Google Tag Manager.

The task:

1. Need to replace to the classic Google Analytics ([analytics.js](https://developers.google.com/analytics/devguides/collection/analyticsjs/)) snippe

[2019-03-10 11:25] moshfeu opened #27 "Make tags clickable"
<img width="355" alt="Screen Shot 2019-03-10 at 13 24 27" src="https://user-images.githubusercontent.com/3723951/54084328-e2de6a00-4337-11e9-9e05-6ca72de5c948.png">

When user will clicks on a tag:

1. The "Language or Technology" dropdown's value will be this tag (`css` in this example).
2. The mentors list will filter by this tag.

[2019-03-10 11:50] Asjas commented on #27
Hey @moshfeu

I would like to take a stab at this. 😄

[2019-03-10 12:04] moshfeu commented on #27
All yours :)
Thanks!

[2019-03-10 13:08] reeversedev opened #29 "Container is not working for 1440x360 resolution"
**Describe the bug**
When using the platform at resolution of 1440x360. The container is not working properly. The screen has no margins on the sides and looks kinda ugly as compared to other screen sizes.
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot 2019-03-10 at 6 34 21 PM](h

[2019-03-10 13:20] moshfeu commented on #29
Thanks!
Can you fix it?

[2019-03-10 13:22] reeversedev commented on #29
Yes, I can. Can you assign me this task please?

[2019-03-10 13:24] moshfeu commented on #29
Done :) Thanks!

[2019-03-10 13:39] reeversedev commented on #29
@moshfeu Just wanted to check if i am allowed to use media queries in the code?

[2019-03-10 13:43] moshfeu commented on #29
Yes. Anyway, the design is about to change. So it's good for now :)
I thought just to set `margin: 0 10px` or something the main `div`. WDYT?

[2019-03-10 13:44] reeversedev commented on #29
Well, that's also that we can do but I have slightly a different approach. Wait, I'll create a pull request, let me know whatever changes you need after that.

[2019-03-10 13:50] reeversedev commented on #29
Just did it.

[2019-03-10 23:22] koolamusic commented on #26
Ok, so I'm not sure how Google analytics works, however, I would appreciate if there could also be a quick walkthrough to how this could be implemented.

[2019-03-11 01:36] analistacarlosh commented on #25
Hello @moshfeu, I would like to work on this issue.
How can I assign to me?

[2019-03-11 05:35] moshfeu commented on #25
Thanks!
You're not in the team yet 😱.
I will asign it to me for now and will asign it to you later.

[2019-03-11 05:50] reeversedev commented on #26
I can do this.

[2019-03-11 06:09] moshfeu commented on #26
Thanks @koolamusic !
I'll try my best :)

There are 2 goals to implementing google analytics ("GA") in a site: To track page views (how many people view a page) and track events (how many users clicked on some button).
So, in order to integrate GA, there are 3 steps that have to be done:

1. Add the "snippet" - a piece of code that embed the script of GA and allow the whole functionality.
2. Add t

[2019-03-11 06:19] moshfeu commented on #26
@koolamusic @reeversedev Please decide who will take it.
Thanks for both of you :)

[2019-03-11 06:44] moshfeu opened #34 "Add legal statements (Terms & Conditions, Cookies and Privacy Policy)"
**Desktop**
<img width="645" alt="image" src="https://user-images.githubusercontent.com/7671983/56046350-56163a00-5d43-11e9-985d-0a3f8723392b.png">

**Mobile**
<img width="460" alt="image" src="https://user-images.githubusercontent.com/7671983/56046331-4eef2c00-5d43-11e9-91f9-2c66149483d7.png">

**Text color**: #015d3e

The modal should looks like in the main coding coach landing page. The content

[2019-03-11 07:18] maddy2894 commented on #34
I will work on this. Can you assign it to me?

[2019-03-11 07:20] moshfeu commented on #34
Thanks!

[2019-03-11 07:21] reeversedev commented on #26
@koolamusic If you know how to do this, you can go and take this. But I've already implemented this in my side projects as well. So it won't be a big deal for me.
But it's your call. :)

[2019-03-11 07:21] maddy2894 commented on #34
It should be at the footer or under each mentor?

[2019-03-11 07:22] moshfeu commented on #34
At the footer. Just like in the landing page.

[2019-03-11 07:23] maddy2894 commented on #34
Cool. Thanks.

[2019-03-11 09:17] gulshansainis opened #38 "Correct path of mentors.json in README.md"
**Describe the bug**
Right now we need to go through multiple folders to find out where mentors.json is present

**Expected behavior**
We should update path of file in README.md from `mentors.json` to `src/mentors.json' so that it is easy to locate the file

[2019-03-11 09:20] moshfeu commented on #38
Sounds good!
Want to fix this?

[2019-03-11 09:23] gulshansainis commented on #38
PR submitted

[2019-03-11 09:28] moshfeu commented on #38
Thanks!

[2019-03-11 09:28] #38 closed

[2019-03-11 10:36] koolamusic commented on #26
@reeversedev since you have implemented this already, that's pretty fine you can handle it.
I could definitely learn a few from your implementation when you send in the pull request.

cheers.

[2019-03-11 12:01] koolamusic opened #42 "Add nav bar for important links"
**Is your feature request related to a problem? Please describe.**
How can a mentor join the community of mentors

**Describe the solution you'd like**
A link to signup and submit their profile

**Describe alternatives you've considered**
A link on the Find a Mentor Page to this Repo at the moment so they know how they can become a part of the mentor community

**Additional context**
Add any other

[2019-03-11 12:06] moshfeu commented on #42
Thanks!
You're absolutely right! I'll find a designer to help us to with the design of it.

@emmawedekind any idea?

[2019-03-11 12:37] moshfeu opened #43 "Create an interactive process to add mentor"
In order to make the process easier, adding a mentor could be done with interactive CLI (command line interface) process. It can be done with [prompts](https://www.npmjs.com/package/prompts) for example.

The process should:

1. Collect all the fields by the [schema](https://github.com/Coding-Coach/find-a-mentor#mentor-schema) and validate the inputs.
~2. Run `yarn run sync-lists`.~ https://github

[2019-03-11 13:47] emmawedekind commented on #42
I'm not sure how this is different than the README? I plan to add a link to the Alpha site on the CC homepage, but other than that, do we need instructions in addition to the ones on the README? This is just the Alpha site so it won't be the final product.

[2019-03-11 13:52] moshfeu commented on #42
I think @koolamusic meant the scenario that someone get to the mentors site and want to be a mentor by himself. For now, he needs to guess that the instructions are in github. We can make it easier and add a link. Something like, "want to be a mentor"?

[2019-03-11 14:56] 07Gond commented on #43
Hi @moshfeu !
Can I take this?

[2019-03-11 15:22] moshfeu commented on #43
Sure! I'll assign it to you as soon as you will be added to the team.
This is important task so if you're feeling you need help, let me know asap so we could finish it asap.

[2019-03-11 15:46] 07Gond commented on #43
Good,
I'm going to start this today.

[2019-03-11 15:57] koolamusic commented on #42
Exactly @moshfeu those are my thoughts

[2019-03-11 16:50] zacbraddy opened #48 "Come up with and add to README a description of both Mentor and protege expectations"
**Is your feature request related to a problem? Please describe.**
I'm pretty keen to get involved in this as a mentor as I do really enjoy giving back to the community that has given me so much. I'll definitely be putting in a PR soon to add myself to list of mentors. However, as it stands I've scoured the content I can find on Coding Coach and I'm yet to find anything that describes exactly what

[2019-03-11 17:03] moshfeu commented on #48
Sounds good to me! Thanks for the effort for this post! :)
This is only an alpha version and meant to be only a mentors board. I'm sure all these details will be handled in the final project.
I must to admit: words, especially in English, is not my strong suit.
@emmawedekind this is all yours. Thanks!

[2019-03-11 17:06] zacbraddy commented on #48
Hey no problems matey. English is my first language and I talk a lot! 😆  I'm very happy to be involved in the update I've suggested, as I mentioned I'm happy to involve myself in the community and help out where I can. I think it's probably best if the active maintainers spend some time together drafting what we actually want these guidelines to look like first. I'll join the slack channel tonight

[2019-03-11 20:24] #29 closed

[2019-03-12 00:24] crysfel commented on #48
This is great, setting expectation is a must. The first thing I try to learn is about their goals, and see if I'm the right person to help them get there.

[2019-03-12 00:30] crysfel commented on #42
There's currently a PR that adds links to the mentors board: https://github.com/Coding-Coach/coding-coach/pull/309

But I was also thinking that it would be a good idea to add a new section in the home page describing how to become a mentor.

[2019-03-12 00:34] gauravagarwal2704 commented on #43
I want to contribute too on this @moshfeu @07Gond

[2019-03-12 01:17] crysfel commented on #26
@reeversedev thanks for taking this, here's the GA ID you can use for tracking: `UA-133820299-2`.

[2019-03-12 01:36] analistacarlosh commented on #25
Moshfeu, I in the team now.
Please, could you assign to me?
Thanks

[2019-03-12 02:57] crysfel commented on #25
@analistacarlosh all yours! Thanks for contributing :)

[2019-03-12 05:36] moshfeu commented on #48
@crysfel so you think it should be individually per mentor or generic somewhere on the page (link to page, modal or something)?

[2019-03-12 05:38] moshfeu commented on #42
@crysfel the case is that a user come directly to the alpha site and want to become a mentor. He doesn't know about the the landing page :)

[2019-03-12 05:43] moshfeu commented on #43
Thanks @gauravagarwal2704! Let's see where @07Gond is in the process and how and if it could be spilt. I thought to change the process a bit and it's relevant to this issue too.
So stay tuned :)

[2019-03-12 05:46] reeversedev commented on #26
Thanks @crysfel . Will start working on this from today.

[2019-03-12 07:39] moshfeu opened #55 "Restrict avatar image URL to https in tests"
To avoid non secured resource on our secured app.

This change should be reflected in [schema docs](https://github.com/Coding-Coach/find-a-mentor#mentor-schema)

[2019-03-12 07:41] #55 closed

[2019-03-12 07:51] koolamusic commented on #43
I would like to test how the outcomes

[2019-03-12 07:55] koolamusic commented on #48
I do find this relevant, and though we may not be expecting any edge cases at the moment, I think it's beneficial to setup defaults

[2019-03-12 08:28] moshfeu opened #56 "Get rid of lists.json"
Generate the lists in runtime (small performance impact).
This approach is simplify the process and avoid conflicts.

[2019-03-12 08:30] koolamusic opened #57 "Mentor Reviews"
**Is your feature request related to a problem? Please describe.**
When we're done helping someone through their journey, we always want to know how well we were able to help them solve that problem, sometimes it's almost emotional to see what they write about their experiences with you

**Describe the solution you'd like**
A place for those who we've shared our time with to drop comments about th

[2019-03-12 08:31] #56 closed

[2019-03-12 08:36] moshfeu commented on #57
You're absolutely right.
But, this project is only the alpha version and it should be very simple and basic. [The full app](https://github.com/Coding-Coach/coding-coach/) is in progress and hopefully, will be release soon.

[2019-03-12 09:06] koolamusic commented on #57
Definitely does, I totally works fine that we would be able to include that in our release version

[2019-03-12 09:21] moshfeu commented on #57
So, I'm closing it for now 👍

[2019-03-12 09:21] #57 closed

[2019-03-12 14:19] zacbraddy commented on #48
@crysfel @moshfeu I'm cool with us saying that the guidelines should be set on an individual basis for each mentor/protege pair but providing some good guidelines for these give a better starting point for both individuals. Of course these don't have to be rules set in stone but for someone coming into the experience with no idea of what to expect it would be nice for them to have a place to start

[2019-03-12 14:38] moshfeu commented on #48
I agree. People do ask this kind of questions. @emmawedekind @crysfel please review the content and take a decision.

[2019-03-12 14:41] moshfeu commented on #48
I agree. People do ask this kind of questions. @crysfel @emmawedekind please review the content and let's implement it.

[2019-03-12 15:38] crysfel commented on #48
@moshfeu  I think for the alpha version it could be just in another page and generic for everyone, we should add it to the README as well.

[2019-03-12 15:53] crysfel opened #62 "Display languages mentors can communicate"
**Is your feature request related to a problem? Please describe.**
Coding Coach is a global community, there are people from all over the world and most of us speak more than one language, it would be nice if we include a field to display the languages we speak :)

**Describe the solution you'd like**
By adding an array of languages to the mentors.json file, we will be able to display those langua

[2019-03-12 16:22] moshfeu commented on #48
Agreed. Do you approve the text?
We could use modal here.

[2019-03-12 16:24] moshfeu commented on #62
Sounds good! We just need help with the UI here. @emmawedekind ?

[2019-03-12 17:42] Asjas commented on #27
Hi @moshfeu :)

I have the tag filtering working when someone clicks on a tag but the value still needs to be set in the search field. I see that the state for the search field is currently in the `AutoComplete` component. The tag that is selected is in the `MentorsList` component. They are both sibling components.

If I want to set the value of the tag in the `AutoComplete` component then it seem

[2019-03-12 17:58] Asjas commented on #27
I was also wondering how we should handle the color of the tag when someone hovers over it.

I am setting the `cursor pointer` on hover, but I am wondering if we should scale the color to be darker by a small difference? So that if someone hovers in and out over a tag there is a color indication as well.

And then also something on keyboard accessibility. I am not sure if this is something that I

[2019-03-12 18:43] crysfel commented on #48
yeah! 🤘 It's a great start!

[2019-03-12 19:29] moshfeu commented on #48
Ok than. I will take it from here.
Thanks everyone!

[2019-03-12 20:06] moshfeu commented on #27
You can pass the the state as `props` but you can use them both. Something like this:

[code]
https://stackblitz.com/edit/react-p8khfb?file=index.js

(Let me know if the example is not clear enough)
This way can keep the state in `AutoComplete` and just listen to `componentWillReceiveProps`

[2019-03-12 20:11] moshfeu commented on #27
About the colors and the indication, just do what feels you right.
We will ask a design review later :)

[2019-03-13 09:23] moshfeu commented on #34
@gauravagarwal2704 let's add #48 to the links list and open it with modal as well. Ok?

The link's text would be `FAQ` and the text will be the bullets in the `Additional context` section.
Let me know if it's not clear.

Thanks!

[2019-03-13 10:37] moshfeu opened #67 "Redesign 👏and get rid of semantic-ui-react library"
**Before**

![before](https://user-images.githubusercontent.com/3723951/54272456-67c1c180-458c-11e9-993e-977bd979538c.jpeg)

**After**

![after](https://user-images.githubusercontent.com/3723951/54272476-727c5680-458c-11e9-9954-d7b8491901e6.jpeg)

[2019-03-13 10:39] moshfeu commented on #34
:rotating_light: Paused until #67 will be done.

[2019-03-13 10:47] moshfeu commented on #27
Need to be done after #67.

[2019-03-13 10:48] moshfeu commented on #25
Need to be done after #67.

[2019-03-13 12:49] lsmith77 commented on #48
adding this twitter thread here because I like the definitions around mentoring, coaching, sponsoring and obviously the definitions and examples also help guide motivated people towards different approaches to support: https://twitter.com/lara_hogan/status/1105465378032046080

[2019-03-13 14:42] moshfeu commented on #48
Moved to a Google docs.
Waiting for final text from @emmawedekind and content staff.

[2019-03-13 18:13] crysfel commented on #67
Do we have the mobile design? We might want to build this app mobile first 📱

[2019-03-13 18:41] IgnaciodeNuevo opened #74 "Add new channels: Github and Personal Website"
Add new channels: Github and Personal Website.

I think it would help mentees to contact o look for more info about the mentor they are interested in.

[2019-03-14 06:32] koolamusic commented on #67
I agree with @crysfel on implementing a mobile first design

[2019-03-14 08:46] manpenaloza opened #80 "Implementation of filters"
**Is your feature request related to a problem? Please describe.**
In terms of a ux improvement it might make sense to implement some tag overview that you can also interact with.

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/7671983/55867046-00466400-5b82-11e9-87ce-d503422d107f.png)

**Acceptance Criteria**
- If no skills are found, display the following

[2019-03-14 09:08] crisecheverria commented on #74
There is a Poll for that on a Slack channel: **I'll be happy to hear your opinion about the allowed channels for a mentor. Currently, we allow only channels with IM option so Github and personal websites are out. What do you think?**

[2019-03-14 11:00] moshfeu commented on #80
Interesting idea!
@emmawedekind.

[2019-03-14 11:06] moshfeu commented on #74
Thanks @IgnaciodeNuevo !
We should decide soon what we gonna do about it. Stay tuned :)

[2019-03-14 11:13] IgnaciodeNuevo commented on #74
I joined the Slack and commented the poll you told me :)

[2019-03-14 11:41] luanjubica commented on #62
showing any flags for languages? if yes, they need to be somewhere. And that array can look something like :
["en","fr","de"]
Right?

[2019-03-14 11:43] emmawedekind commented on #62
I'll create a design for this soon!

[2019-03-14 11:44] emmawedekind commented on #42
Agreed - let's go ahead and document the process on both. Once we get the CLI tool merged, we can go ahead and create the documentation.

[2019-03-14 11:45] emmawedekind commented on #27
Yeah hold off on this until the re-design is complete! I'll work on this tonight :)

[2019-03-14 11:45] emmawedekind commented on #43
This is so fricken cool.

[2019-03-14 11:46] emmawedekind commented on #34
I'll work on the re-design tonight :)

[2019-03-14 11:48] moshfeu commented on #34
Thanks @emmawedekind !

[2019-03-14 11:50] emmawedekind commented on #80
Love the idea! I'll incorporate it into the re-design and leave the logic up to you if you're still interested :)

[2019-03-14 11:52] emmawedekind commented on #48
Okay great yes we've created a Google Doc here: https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/edit?usp=sharing

Once it's finalized we'll create a small design for the content :)

[2019-03-14 12:02] manpenaloza commented on #80
sure! Looking forward to it.

[2019-03-14 12:10] moshfeu commented on #62
Exactly,  It will be part of the mentor's schema.

[2019-03-14 12:12] moshfeu commented on #74
@emmawedekind @crysfel what do you think about it?
The poll vote (9 against 3) for it.

[2019-03-14 12:23] emmawedekind commented on #74
I like the the option to add but we should limit them to selecting 3 or we'll run out of room :)

[2019-03-14 12:59] moshfeu commented on #74
Sure. We already validate this.

[2019-03-14 13:00] moshfeu commented on #74
@IgnaciodeNuevo do you want to take this?

[2019-03-14 15:29] moshfeu commented on #74
Should be implemented in #43 too.

[2019-03-14 17:04] IgnaciodeNuevo commented on #74
I have no so much time to spend in Open Source. So sorry

[2019-03-14 18:03] moshfeu commented on #74
Sure! I will take care of it.
Thanks!

[2019-03-14 21:48] crisecheverria commented on #74
I can take it...

[2019-03-15 06:27] reeversedev commented on #26
@crysfel Is there any chance I can check the events? I don't have access to Google Analytics dashboard.

[2019-03-15 10:38] moshfeu commented on #74
@crisecheverria Thanks!
You'll get the next one :)

[2019-03-18 13:05] #43 closed

[2019-03-18 13:28] emmawedekind opened #104 "Filter/Search for mentor by name"
**Is your feature request related to a problem? Please describe.**
A user cannot currently search for a mentor by name; they must scroll through the entire list.

**Describe the solution you'd like**
Add an input box to the filter section to search by name.

**Describe alternatives you've considered**
None that I can think of

**Additional context**
Nah

[2019-03-18 14:12] moshfeu commented on #26
For now, until @crysfel will respond, you can use your own account just not commit the GA-ID.
What do you think?

[2019-03-18 14:17] Jony-Y opened #105 "Add Support for Node 8 >+"
Currently README file note that the node version must be 11.6 +.
Could we have support for 8>+ ?

[2019-03-18 14:31] moshfeu commented on #105
Thanks for asking us.
Why node 8 is needed?

[2019-03-18 17:43] crysfel commented on #26
Yeap, it looks like is working, I see some activity.

[2019-03-18 17:55] crysfel commented on #26
@reeversedev  Is this your event?

<img width="1356" alt="Screen Shot 2019-03-18 at 12 54 10 PM" src="https://user-images.githubusercontent.com/219207/54551951-0a0eea00-497d-11e9-8c6c-e9dace7fdedf.png">

That's the only one in the last 30 days

[2019-03-18 18:13] moshfeu commented on #26
If so, please create a PR.

[2019-03-18 18:16] moshfeu commented on #26
No, it's mine.

[2019-03-18 21:46] #105 closed

[2019-03-19 12:03] crisecheverria commented on #104
Probably this help => https://github.com/Coding-Coach/find-a-mentor/pull/113

[2019-03-19 12:10] crisecheverria opened #114 "Update mentor information using the CLI"
**Is your feature request related to a problem? Please describe.**
When do I need to update my information as a mentor how I can manage that?
Is related to this PR [ #65](https://github.com/Coding-Coach/find-a-mentor/pull/65)

**Describe the solution you'd like**
Using the already awesome CLI created, probably we could select what we need to do in this case _Update Mentor Information_ using His/He

[2019-03-19 12:14] emmawedekind opened #115 "Code of Conduct"
**Is your feature request related to a problem? Please describe.**
This is linked to https://github.com/Coding-Coach/coding-coach/issues/310

We must have a Code of Conduct for all of the Coding Coach repositories and products.

**Describe the solution you'd like**
Code of Conduct on the home page.

**Describe alternatives you've considered**
N/A

[2019-03-19 14:28] emmawedekind commented on #114
Love the idea! How can we ensure the user is only updating themselves? The Slack member ids aren't private. Just want to make sure anyone can't go in and delete a user or update someone else.

[2019-03-19 14:29] emmawedekind commented on #34
I know we added these as a static banner - should we close this? Or do you still want a design?

[2019-03-19 14:30] emmawedekind opened #116 "Format tags"
**Is your feature request related to a problem? Please describe.**
Users might not capitalize the first letter of a tag, or format it correctly and we don't want inconsistent formatting in the UI: i.e. html, HTML, htMl.

**Describe the solution you'd like**
Format the tags by capitalizing the first letter of each tag (with the exception of acronyms such as HTML, PHP, CSS, which require uppercase).

[2019-03-19 15:34] crysfel commented on #114
@emmawedekind right now anyone can go ahead and update/delete anyone on that file, our security right now is just by reviewing the PR 😂😅

[2019-03-19 15:41] moshfeu commented on #116
For now the whole tag is lowercase: https://github.com/Coding-Coach/find-a-mentor/commit/eee70b9ccc242a1846ef2e5713f9b4386a8602b1

I don't see any other option but to keep a tags whitelist. In tje first place, I thought to let the mentor the freedom to add tags by himself but we can change that.

[2019-03-19 15:42] moshfeu commented on #114
That was the idea. To use Github permissions system so we wouldn't have to develop one.

[2019-03-19 15:44] moshfeu commented on #34
I added as static just for now breaking the law. Design (for the new UI) will be great!

[2019-03-19 15:48] moshfeu commented on #104
Merged.
Thanks!

[2019-03-19 15:48] #104 closed

[2019-03-19 18:46] shadowcodex commented on #116
Adding to this convo a message I sent in slack.

[code]

[2019-03-20 12:46] emmawedekind commented on #116
Hmmm I'm thinking maybe some data normalization but I'm not sure how to do that?

[2019-03-20 13:06] emmawedekind commented on #116
Ya know what.. it looks good as-is. CLOSING.

[2019-03-20 13:06] #116 closed

[2019-03-20 13:45] zacbraddy opened #122 "Add a "capacity to take on new mentees" indicator on the mentors cards"
**Is your feature request related to a problem? Please describe.**
It would be good both more mentors and mentee's if, when searching for a mentor, a mentee could determine what capacity the mentor has for taking on new mentees. The mentor might be in a situation where they have too many mentees to allow them to be effective for all of them in the time the mentor has available to help. In this sit

[2019-03-20 13:54] moshfeu commented on #67
Resolved by #121

[2019-03-20 13:54] #67 closed

[2019-03-20 16:06] moshfeu commented on #116
FYI, I just fixed (All I hope, please verify it) the synonyms tags, added some examples in readme and added some tests to insure that.
If you found another synonym, please open an issue.

https://github.com/Coding-Coach/find-a-mentor/blob/master/src/__tests__/mentors.json-test.js#L21

[2019-03-20 20:42] tofmat opened #136 "The Filter drop down"
If I click on the drop down? I should be able to go back selecting nothing. This issue affects mobile view though.

[2019-03-20 21:45] moshfeu commented on #136
The dropdown is autocomplete so you can delete the whole text. Right?

[2019-03-20 22:49] analistacarlosh commented on #25
Hello @moshfeu,
As #67 item is closed, can I implement this one?

[2019-03-21 03:25] crysfel commented on #122
This looks like something we definitely need to add. We could add a new property to the mentor schema to set the maximum number of mentees a mentor can have, and another field to set how many mentees the mentor has.

Based on that we can calculate the colors or display something like `1/3 Mentees` or some other useful information.

[2019-03-21 03:25] 07Gond commented on #114
I love this idea.
Find out the node by email and then update it.
So, maybe we can update the CLI to use something like commander or args and generate more tasks on it like the update or delete mentors.

[2019-03-21 03:31] 07Gond commented on #42
Now that the first version of CLI is merged, I think that maybe we can add a link on the alpha site to the README? 🤔

[2019-03-21 06:28] moshfeu commented on #42
@emmawedekind  👆

[2019-03-21 06:31] moshfeu commented on #114
@07Gond sounds good!
Will you take this?

[2019-03-21 06:48] moshfeu commented on #122
It can be simpler. Just prop for how available the mentor is?
- Most - for getting new mentees.
- Medium - available only for quick questions.
- Not at all.
Because mentor can be busy regardless his mentees.

The thing is that this kind if changes will happened often so we (on Slack) tried to think how to handle this.

Ideas:
1. Split `mentors.json` into file for each mentor and move those files a

[2019-03-21 06:49] moshfeu commented on #25
Yes!
Thanks.

[2019-03-21 07:31] peterberkenbosch opened #137 "Slack invite link on homepage is invalid"
**Describe the bug**
Clicking on the Slack invite link on the homepage lands on the "this invite link is not valid anymore" page on Slack.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/
2. Click on the slack logo in the top right
3. See error

**Expected behavior**
Be able to join the Slack channel through a valid invite link.

**Screenshots**

<img wid

[2019-03-21 07:34] moshfeu commented on #137
Thanks!
Want to fix this?

[2019-03-21 07:35] peterberkenbosch commented on #137
Of course, al I need is a valid invite link to the slack channel. Do you have admin powers to get that?

[2019-03-21 08:00] zacbraddy commented on #122
Probably also worth mentioning the third thing we spoke about on slack which was to make it so that the mentors, rather than checking in the JSON into `mentors.json` would just check in a URL to the raw version of a gist that would have the JSON object about them. Then in the website we could make an Ajax request to each of the URLs for the JSON for each mentor, do a little client side validation

[2019-03-21 08:18] koolamusic commented on #42
I think it would be best to have @emmawedekind make input on this

[2019-03-21 09:24] moshfeu commented on #27
@Asjas #67 is done. You can continue.
Thanks!

[2019-03-21 09:30] #137 closed

[2019-03-21 09:34] moshfeu commented on #34
@emmawedekind can you design this for the new UI?
Probably will be in modal.
Thanks!

[2019-03-21 09:58] moshfeu commented on #122
It's not just this. If a mentor has wrong schema he will not know it until someone will notice.
Sometime we change the schema (just did this couple of days ago) so it's harder to maintenance.

[2019-03-21 10:12] moshfeu commented on #122
Not at all! Sorry you feel this way!
I'm challenging the ideas to make sure we cover all the edge cases and maybe to improve them. That's what I'm doing with my ideas too.
I'm not sure what do you mean by `you could version the schemas`.

[2019-03-21 10:58] zacbraddy commented on #122
Let me make a fork and do a PoC for what I'm talking about so I can show you what I have in mind that way we can talk in more concrete ideas rather than hypotheticals 😉 give me a week or two to pull it together and then I'll put a link to my fork up here.

(Also don't worry, I'm not upset or anything just debating the issue, we're cool 👍 )

[2019-03-21 11:15] moshfeu commented on #122
Happy to hear 😃.

Maybe we will start with a field in the schema and when a better solution will be ready, we will replace it.

[2019-03-21 11:57] moshfeu commented on #122
When I think about it. We can combined both of the approaches. Take the statit details from the schema and the dynamics (such as the availability and maybe more) from an ajax call.
This way, we get a fast reponse for the main details and also let the mentors the ability to update their status.

[2019-03-21 17:16] Asjas commented on #27
Will do. Thanks :smile:

[2019-03-21 21:06] 07Gond commented on #114
@moshfeu Sure!

[2019-03-22 08:52] emmawedekind opened #147 "Keep filter section sticky"
**Is your feature request related to a problem? Please describe.**
If the user scrolls down, the filter doesn't stick.

**Describe the solution you'd like**
Set the filter sidebar to fixed.

**Describe alternatives you've considered**
Hmm not sure

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-03-22 08:53] emmawedekind opened #148 "Add number of total mentors to the page"
**Is your feature request related to a problem? Please describe.**
Currently, users can't see how many mentors are available.

**Describe the solution you'd like**
A total count of mentors on the page.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots

[2019-03-22 08:54] emmawedekind opened #149 "Add button to the GH REAME for sign up instructions"
**Is your feature request related to a problem? Please describe.**
I'm getting users emailing the CC email asking how they can sign up.

**Describe the solution you'd like**
Add a button to the page which says "SIGN UP AS MENTOR" and links to the README

**Describe alternatives you've considered**
N/A

**Additional context**

[2019-03-22 11:43] maddy2894 commented on #149
I guess issue #42 is similar to this.

[2019-03-22 13:14] alisonludick opened #152 "Add a 'favorites' filter"
**Is your feature request related to a problem? Please describe.**
It would be great to filter the mentors according to you who you have 'favorited' or 'hearted' (as the case is). Some people may want to see which mentors they liked in one frame to make selection easier.

**Describe the solution you'd like**
Add an additional search field.

[2019-03-22 13:36] emmawedekind commented on #149
Ah yes - correct

[2019-03-22 13:36] #149 closed

[2019-03-22 15:43] crysfel commented on #148
Yes please! I'm missing this feature :)

[2019-03-22 19:04] moshfeu commented on #147
It is the current behavior. It removed i  #135 .

[2019-03-22 19:23] shadowcodex commented on #148
Can't seem to assign this to myself, but I am working on this feature.

[2019-03-22 19:26] shadowcodex commented on #148
Some Screenshots. It shows active number of cards based on filter.

![image](https://user-images.githubusercontent.com/1348053/54848109-5d02dd00-4cae-11e9-8c2c-55d98589ecb6.png)

and

![image](https://user-images.githubusercontent.com/1348053/54848117-67bd7200-4cae-11e9-8202-6e4524ae2b92.png)

[2019-03-22 23:08] shadowcodex commented on #136
I'll probably do a "clear filter" button as my next PR.

[2019-03-22 23:10] shadowcodex commented on #152
Would it be good to filter, or maybe just sort those mentors at top?

[2019-03-23 04:29] alisonludick commented on #152
Either solution would do; just so long as it makes it easier for mentees during the selection process.

[2019-03-23 06:38] KirankumarAmbati commented on #152
This idea sounds good as the list is growing bigger, the mentees may find it difficult to find their favorite mentors.

[2019-03-23 20:22] moshfeu commented on #136
Thanks!

[2019-03-24 19:55] #74 closed

[2019-03-25 17:24] #148 closed

[2019-03-25 20:23] zacbraddy commented on #122
Started a PoC on the weekend for grabbing the raw Json from gists. I got it working but want to test it with more calls to separate JSON's I'll try get that done this week and then you can have a look and see what you think. I also wrote down some load times taken from the chrome dev tools to check what impact it has.

[2019-03-25 20:46] crysfel commented on #152
+1 for this feature!

[2019-03-25 20:52] tureey commented on #122
sounds good!

[2019-03-25 21:12] moshfeu commented on #152
@shayanypn will be assigne once he will be a member.
@crysfel , @emmawedekind can you add him please?

[2019-03-25 21:17] tureey commented on #152
@moshfeu if he appears, it means he is already a member, isn't it? At least months ago we couldn't add people that was not already in the organization

[2019-03-25 21:20] moshfeu commented on #152
Thanks @tureey!
I think so. Weird, I couldn't add him some days ago. Maybe Emma added him and I didn't notice.
Anyway, Good luck @shayanypn with your first issue!

[2019-03-25 21:34] moshfeu opened #168 "Create coding coach slack bot"
**Is your feature request related to a problem? Please describe.**
A new member of our Slack workspace may not be exposed to the important channels.

**Describe the solution you'd like**
The bot will welcome the new member team and present some explanations about the channel. Also, it will present the most important channels.

- general
- help
- alpha-website

**Additional context**
It probably wi

[2019-03-26 09:42] emmawedekind commented on #122
I didn't see the design comment, sorry! Do you still need something? Or if you have something I can just take a look?

[2019-03-26 09:43] emmawedekind commented on #122
What about a little progress bar at the bottom border of the card? 1/3, 2/3, 3/3? A capacity indicator that looks like a bottom border? Thoughts?

[2019-03-26 09:52] emmawedekind commented on #152
I did add him :)

[2019-03-26 09:57] moshfeu commented on #122
This is the design we need :) Progress bar is good, even so no progress here :) maybe clock icons? Or sand clock icons maybe.

[2019-03-26 10:01] emmawedekind commented on #122
I'll put something together today :)

[2019-03-26 10:02] emmawedekind commented on #34
You got it

[2019-03-26 10:16] manpenaloza commented on #80
fyi: I'll find time for this by the end of next week

[2019-03-26 14:18] tureey commented on #122
@moshfeu @emmawedekind   ⏳ , 👥 or  👨‍🏫  could fit the purpose!

[2019-03-26 16:14] moshfeu commented on #34
Thanks!
If you can update the issue with the design it will be great!

[2019-03-26 16:15] moshfeu commented on #80
@emmawedekind do we know how it should look with the new UI? And mobile?

[2019-03-26 16:33] crysfel commented on #147
This is already implemented, should we close it?

[2019-03-26 16:39] emmawedekind commented on #122
@zacbraddy I have updated the issue with the solution :) Please let me know if you have any questions!

[2019-03-26 16:40] zacbraddy commented on #122
Fantastic, looks great, well done!

[2019-03-26 16:47] emmawedekind commented on #122
Thanks! Looking forward to seeing your solution :)

[2019-03-26 16:50] moshfeu commented on #122
@zacbraddy will you take this too or are you working on the separation approach?

[2019-03-26 16:53] emmawedekind commented on #122
Oh shoot... haha sorry I thought he was assigned! @zacbraddy would you like this one? If not I can find someone else!

[2019-03-26 16:54] emmawedekind commented on #147
With my a11y changes it is no longer sticky :D Which is fine because I also wanted the logo sticky. I may be able to take this one if I have time!

[2019-03-26 16:55] emmawedekind commented on #80
Sure I can update the design!

[2019-03-26 16:58] shadowcodex commented on #136
I'll work on this now, finding the best UX for it atm with trial and error locally.

[2019-03-26 17:22] zacbraddy commented on #122
No that's fine @emmawedekind I couldn't design anything to save my life and you've done a great job you put in your changes. @moshfeu yeah I'm going to take on the update piece that we spoke about I'll raise an issue for that possibly tonight. To @emmawedekind 's point about me not being assigned to the issue it's worth pointing out I can't actually assign myself to issues on this repo. Not sure i

[2019-03-26 17:23] emmawedekind commented on #122
Yeah sadly I think I'm the only one who can assign... I don't understand but whatever hehe. Anyway I can assign you for the dev work! @zacbraddy

[2019-03-26 17:26] emmawedekind commented on #136
You can just add an X inside of the box like this:
<img width="499" alt="image" src="https://user-images.githubusercontent.com/7671983/55019157-a75cc480-4ff4-11e9-883b-82c6f21862ad.png">

[2019-03-26 17:26] zacbraddy commented on #122
Yep cool, I'm flying back to Australia for a holiday at the end of the week for 3 weeks but I'll take a laptop with me so I can work on it then, might be a bit slower than usual but I can definitely get it done. I got this!

[2019-03-26 17:35] emmawedekind commented on #80
Users can open the combobox and click a tag to select it:
<img width="341" alt="image" src="https://user-images.githubusercontent.com/7671983/55019666-a2e4db80-4ff5-11e9-9123-9b6699480b93.png">

They can use the X icon to clear all selections.

When closed, the input will display the first 12 characters (give or take) followed by "& X more" where X is the number of additional filters.

<img width=

[2019-03-26 17:36] emmawedekind commented on #27
I have updated the filter design to look like this:

<img width="365" alt="image" src="https://user-images.githubusercontent.com/7671983/55019843-f35c3900-4ff5-11e9-9974-c9b3bfe6a47a.png">

<img width="354" alt="image" src="https://user-images.githubusercontent.com/7671983/55019864-ffe09180-4ff5-11e9-8285-f2c2eb0ab52d.png">

If a user clicks a tag, this drop down needs to be updated.

This is rela

[2019-03-26 17:37] emmawedekind commented on #122
No problem! Have fun!!

[2019-03-26 18:07] moshfeu commented on #27
IMHO, let's do one thing in a time. Let's implement the click. With the current autocomplete widget. This is belong to #80 or even create a new one.

[2019-03-26 18:08] moshfeu commented on #27
@Asjas what's the status?

[2019-03-26 18:41] moshfeu commented on #62
@emmawedekind can you help us with the design please?

[2019-03-26 18:44] zmgalante commented on #147
I could try help on this, what is expected in desktop and in mobile?
- Desktop, all the left side stays fixed along the way (logo filters and links)?
- Mobile, maybe collapse the links and leave a smaller logo and the filters?

Point me to the right way i will get the time for it :)

[2019-03-26 23:04] jaydm commented on #147
I just changed the stylesheets to enable this behavior. Not sure if I managed to break the a11y changes.

I'll create the pull request and someone can take a look.

[2019-03-27 07:32] moshfeu commented on #26
Hi!
Any update?

[2019-03-27 09:20] tureey opened #178 "Add an aria-label to the toggle filter button"
**Describe the bug**
Is not a bug itself but an accessibility improvement. The toggle button does not have any aria-label.

[2019-03-27 09:22] tureey commented on #178
PR: https://github.com/Coding-Coach/find-a-mentor/pull/177

[2019-03-27 10:17] emmawedekind commented on #147
@jaydm will be assigned - I just added him to the org so as soon as he appears I'll assign him to this issue. Soryr @zmgalante :) And thanks!

[2019-03-27 10:17] emmawedekind commented on #62
Yep I will!

[2019-03-27 10:18] emmawedekind commented on #27
Yeah this one should be blocked until #80 is completed.

[2019-03-27 11:15] reeversedev commented on #26
@moshfeu I won't be able to do this. Busy with some stuff. You can assign to someone else.

[2019-03-27 11:44] moshfeu commented on #26
Thanks for letting me know!
@koolamusic want to take this?

[2019-03-27 11:45] koolamusic commented on #26
In the past I have used segment.com to implement analytics, looking at this, it seems almost alike to implement,

Would this require setting up some onClick events within the components that manage these respective buttons?

[2019-03-27 11:50] reeversedev commented on #26
@koolamusic It requires onClick handlers to handle. My Ideas was to create a Higher Order Component who will take a component and on click and triggers the event and returns the component again.
It's kinda time consuming stuff to do though.

[2019-03-27 11:57] koolamusic commented on #26
@reeversedev I'll take it that the HOC is a more efficient way to go about it, to avoid having the write the same stuff over again, I'll make a pull and try to push something today, we can all review it

[2019-03-27 12:26] moshfeu commented on #26
Great! Let's see if tye complexity worth it. :+1:

[2019-03-27 15:56] moshfeu commented on #62
Thanks!

[2019-03-27 16:36] koolamusic commented on #25
How is this going so far ?

[2019-03-28 00:36] moshfeu commented on #26
@koolamusic please accept our invitation our organisation so I could assign it to you.

[2019-03-28 08:02] tureey commented on #25
<img src="https://media0.giphy.com/media/XeXzWgD6P4LG8/giphy.gif?cid=3640f6095c9c7f9b3868417067bb05d6"/>

[2019-03-28 10:16] koolamusic commented on #26
Alright

[2019-03-28 10:38] #178 closed

[2019-03-28 14:18] moshfeu commented on #26
Here you go :)
You can create a WIP (Work in progress) PR if you want us to review your direction.

[2019-03-28 14:57] moshfeu commented on #147
Resolved by #175

[2019-03-28 14:57] #147 closed

[2019-03-28 16:54] moshfeu commented on #115
@emmawedekind can we close this? 684c38ac7c59bab6532d4734ad2a2ca52df2a091

[2019-03-28 18:25] moshfeu opened #202 "Items are not centralised when no scroll"
**Describe the bug**
See screenshots

**To Reproduce**
Filter mentors so it will remain 1 or 2.

**Expected behavior**
See screenshots

**Screenshots**

**Actual**
<img width="1436" alt="Screen Shot 2019-03-28 at 20 04 05" src="https://user-images.githubusercontent.com/3723951/55181760-ee81bb80-5194-11e9-8921-8da4ad8b41c2.png">

**Expected**
<img width="1437" alt="Screen Shot 2019-03-28 at 20 04 3

[2019-03-28 18:26] #202 closed

[2019-03-29 01:31] analistacarlosh commented on #25
Hello @koolamusic, @tureey.

I needed to stop the implementation to waiting for #67.
I'm back to working on that today.

[2019-03-29 07:17] moshfeu commented on #25
You also can consult with @Asjas from #27, #193  about how to set the dropdown's value.

[2019-03-29 08:08] gauravano opened #207 "Non-unique mentor entries display"
**Describe the bug**
The dashboard of the webapp https://mentors.codingcoach.io/ shows non-unique mentors. I added India as a country in the filter and while going through the data, noticed 2 same entries.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/
2. Type **India** as a country in the sidebar
3. Go through the filtered data and you may notice multi

[2019-03-29 08:17] moshfeu commented on #207
Thanks!
Are you willing to take this (and also sdd tests to avoid such cases in the future)?

[2019-03-29 15:59] gauravano commented on #207
Hi @moshfeu, sorry a bit busy right now, but would love to help you guys in future. Thanks!

[2019-03-29 17:34] jaydm commented on #207
How much data would need to be identical consider it a duplicate?

Also, I think this could most easily be solved by scanning the mentor list as it is being loaded to remove dupes (along with a test as mentors are being entered to check whether they already exist before adding).

[2019-03-29 18:59] jaydm commented on #207
I'd like to take this issue

[2019-03-30 12:46] analistacarlosh commented on #25
@moshfeu, just to let you know.

**Done**
I have done the SetPermalink, add and remove param on query string.
as you can see on this screen-record:

and also in the code: https://github.com/analistacarlosh/find-a-mentor/commit/8168cebb51db218a8c11ed429ffe5b8dd77b73f5

*Feel free to send me any feedback about the code on Slack.

**To do**
- Set param defined on Permalink on dropdown's value.
I want

[2019-03-30 17:05] #152 closed

[2019-03-30 17:46] moshfeu commented on #207
`id` will be consider as duplicate. I guess that all the potential (including this one) will happen by mistake with copy / paste.

[2019-03-30 17:47] moshfeu commented on #207
No problem :) Thanks for the issue. See you around!

[2019-03-31 08:29] manpenaloza commented on #80
thx for the briefing!

@moshfeu @emmawedekind I'll start implementing based on the current `master` branch, ok?

[2019-03-31 09:33] moshfeu commented on #80
Wait. We have some "in progress" relates tasks - #136 and #27.
I think we should wait for them. @emmawedekind ?

[2019-03-31 09:36] manpenaloza commented on #80
ok, I'll wait in the meantime. thx for the info.

[2019-03-31 09:46] moshfeu commented on #48
@emmawedekind @zacbraddy, Any updates?
Thanks!

[2019-03-31 09:54] manpenaloza commented on #80
thx for the info. jap, they're very closely related and developing this issue in paralell will very likely lead to conflicts and bugs. also as it depends on how 'tag is clicked/toggled' state will be handled in those other issues.

so I'll be there if you need me and if this is going to be continued.

[2019-03-31 09:59] moshfeu commented on #136
@shadowcodex , Can you update the status please? If you didn't start it, it can be part of #80 .
Thanks!

[2019-03-31 21:19] NZepeda opened #219 "Ensure the channel icons are always listed in the same order, alphabetically."
Currently in the project, the `channel` icon links can appear in a fairly random order on the mentor card. A quick and easy improvement would be to ensure that these are always listed in the same order, alphabetically.

<img width="868" alt="Screen Shot 2019-03-31 at 11 16 49 PM" src="https://user-images.githubusercontent.com/6680596/55295257-3b6ec780-540b-11e9-9e1c-37fc36c2201c.png">

[2019-03-31 21:19] NZepeda commented on #219
I can have this one assigned to myself 😄

[2019-04-01 04:28] plhnk opened #224 "Avatar URL Error in CLI tool"
**Describe the bug**
Adding an image url from the `.design` TLD gave an error during the avatar url step.

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn run add user`
2. get to step 3: add your avatar url
3. enter 'https://liferay.design/images/headshots/hanaoka-paul-h.jpg'
4. See error

**Expected behavior**
The image url to be added

**Additional Information**
It might not be the `.

[2019-04-01 04:36] #224 closed

[2019-04-01 04:40] #219 closed

[2019-04-01 04:50] moshfeu commented on #136
I think we should do it with #80 and use more sophisticated component.
Something like: https://react-select.com/home, https://github.com/jedwatson/react-select
WDYT?

[2019-04-02 10:12] #26 closed

[2019-04-02 12:48] brockmdavis opened #245 "If technology, country, or mentor is not found, nothing filters"
**Is your feature request related to a problem? Please describe.**
If a user searches for a technology or mentor that does not exist, nothing filters.

**Describe the solution you'd like**
If nothing is found it should display the same as when you toggle favorites and nothing is found, in a future version it would be nice to have a link to share the site with someone who would be interested or a l

[2019-04-02 12:48] brockmdavis commented on #245
I already started coding a fix, once I get access I'd like to be assigned to this

[2019-04-02 14:05] moshfeu commented on #245
Thanks!
I'm not sure I'm following..

![Capture+_2019-04-02-17-03-49](https://user-images.githubusercontent.com/3723951/55408787-62431000-5569-11e9-9385-f80684705000.png)

[2019-04-02 14:16] brockmdavis commented on #245
@moshfeu it only works with the combo.  Let's say I don't care about the country and want someone with swift or objective c (those two do not exist yet as tags in the mentor list).  I won't get the not found until I add the country piece as well.  Attached GIF to show what I mean.  You can reproduce by typing objectivec and pressing return.  I am using Chrome 73.0.3683.86 on Mojave
![2019-04-02_10

[2019-04-02 14:22] moshfeu commented on #245
That's the functionality of autocomplete. It doesn't select anything.
How do you think to handle this?

[2019-04-03 11:07] bhavayAnand9 opened #252 "allow mentors to add their github profile link too"
Can we also allow developers to add their GitHub profile link too in their card in the div channel section?

[2019-04-03 11:08] bhavayAnand9 commented on #252
Sorry, my bad. It's already there. Closing this issue.

[2019-04-03 11:08] #252 closed

[2019-04-03 11:09] moshfeu commented on #252
Sure!
We already allow this :)
https://github.com/Coding-Coach/find-a-mentor#channels

[2019-04-03 11:11] analistacarlosh commented on #25
@moshfeu, the implementation is finished but I need to fix some code style issue,

The Pull Request is open: https://github.com/Coding-Coach/find-a-mentor/pull/249

[2019-04-03 11:50] moshfeu commented on #25
Thanks! I started to look at it. I'll continue soon.
Thanks!

[2019-04-03 12:07] jaydm commented on #207
Resolved - please close.

[2019-04-03 12:12] emmawedekind commented on #245
Hi, are you saying that if the user tries to search for a skill or country that doesn't exist, and they hit Enter, they should see a message?

[2019-04-03 12:18] moshfeu commented on #207
Thanks!

[2019-04-03 12:18] #207 closed

[2019-04-03 12:20] emmawedekind commented on #48
Sorry sorry I suck I know. I have created a Mentorship Guidelines document on [Google docs](https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/edit?usp=sharing). I think we should add this content to that document and add a "Getting started" link to the site to link to the document. Thoughts?

If you send me your emails, I can add you as editors to the document.

[2019-04-03 12:27] emmawedekind opened #255 "Add Patreon information to the page & README"
**Is your feature request related to a problem? Please describe.**
We need to promote our [Patreon account](https://www.patreon.com/codingcoach_io) so we can gain funding for hosting our DB.

**Describe the solution you'd like**
Add a note in the README and a link to the Alpha site (design to follow).

**Describe alternatives you've considered**
N/A

[2019-04-03 12:28] emmawedekind commented on #115
Sure

[2019-04-03 12:28] #115 closed

[2019-04-03 12:29] emmawedekind commented on #34
Sorry this has taken so long :( I see Mosh has already added the updated images to the header. Just ensure that the Code of Conduct also makes its way into that list as well! @shayanypn do you need anything from me to complete this task?

[2019-04-03 13:00] moshfeu commented on #245
I'm not sure we have the "enter" functionality in that component.
Also, we may want to wait or implement it as part of #80.

[2019-04-03 14:08] shayanypn commented on #34
@emmawedekind thank you, I think all needed things are provided.

[2019-04-03 15:39] analistacarlosh commented on #25
@moshfeu, fixed the style code issued, now the pull request is valid.

Thank you.

[2019-04-03 17:01] moshfeu commented on #34
Great! Looking forward to see it in production :)

[2019-04-04 08:31] emmawedekind commented on #34
Wonderful, looking forward to it!

[2019-04-04 09:03] emmawedekind commented on #80
Let's complete this first, then #136 and #27 can follow!

[2019-04-04 09:27] manpenaloza commented on #80
ok, thx for info. will be busy until the end of this week and will start next week with this. hope that's ok for you.

[2019-04-04 10:45] moshfeu commented on #80
Thanks!
You can create WIP PR (Just regular PR with WIP in its title so we could track the progress but will know to not merge it yet.)

[2019-04-04 11:22] moshfeu commented on #245
Just saw this site which has autocomplete: https://firstcontributions.github.io/

[2019-04-04 11:45] koolamusic commented on #48
It's alright @emmawedekind we all have tight schedules and deadlines to meet. My email is coolstepperz@gmail.com

[2019-04-04 17:39] emmawedekind commented on #62
FYI I'm still struggling with this concept... design will come ASAP

[2019-04-04 17:40] emmawedekind commented on #48
I sent you an invite @koolamusic

[2019-04-04 17:41] emmawedekind commented on #42
Working on this now.. so sorry for the delay~!!!

[2019-04-04 17:45] emmawedekind commented on #42
<img width="849" alt="image" src="https://user-images.githubusercontent.com/7671983/55576652-167f9a80-5712-11e9-8b24-0c1554921f7e.png">

Become a mentor: Links to the GitHub repository for find-a-mentor.
Getting started: Links to the [Google doc](https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/edit?usp=sharing) for the mentorship guidelines

[2019-04-04 17:46] emmawedekind commented on #42
Hey @koolamusic I just added the designs to the previous comment. Do you want to develop this?

[2019-04-04 17:50] emmawedekind commented on #48
I would like to add these requirements to the Google Doc and we will link to them on the mentors.codingcoach.io site with the "Getting Started" button.
<img width="844" alt="image" src="https://user-images.githubusercontent.com/7671983/55577031-e4bb0380-5712-11e9-89b5-79f4492da469.png">

[2019-04-04 18:44] emmawedekind commented on #62
I have an initial design, but will wait for feedback from the team/community before posting. Stay tuned!

[2019-04-05 01:23] brockmdavis commented on #245
@emmawedekind @moshfeu yes I am saying that if they search for a skill or country that does not exist they should see that message.  We should pass what they type to the state and compare it to the array like we do with existing items now.  the package we use has an example on how to do this.  Will have the PR up shortly for you guys to review.  Along with the Google Docs API piece @emmawedekind w

[2019-04-05 03:17] codingmatty commented on #42
I can take this on. Seems like good low-hanging fruit :)

[2019-04-05 04:45] moshfeu commented on #42
@emmawedekind it probablynwill better to do this with the redesign because the buttons have the new look. Or, we need to design them so they will be aligned to the current look.

[2019-04-05 11:21] emmawedekind commented on #42
Let's go ahead and do them in the "old" style so that we can get them up (you can see the styles on the codingcoach.io site. And then change the styling on the re-design. Sound good?

[2019-04-05 13:04] tureey commented on #42
Sounds good

[2019-04-05 13:25] koolamusic commented on #42
I can handle this, if no one has taken it up

[2019-04-05 13:37] koolamusic commented on #42
I also have concerns with the placement on mobile devices, @codingmatty what's your take?

[2019-04-05 13:38] koolamusic commented on #48
@emmawedekind seen the invite, great work done.

[2019-04-05 13:59] codingmatty commented on #42
@koolamusic I haven’t started, and probably wouldn’t get to it until tomorrow.
Feel free to take it! 😄

[2019-04-05 18:13] shayanypn commented on #34
Where should I look for content of `Code of Conduct` menu?

[2019-04-06 10:39] koolamusic commented on #42
@moshfeu could you please assign the task to me, so I can get started

[2019-04-06 17:29] moshfeu commented on #42
https://github.com/Coding-Coach/find-a-mentor/issues/42#event-2253703602 :)

[2019-04-06 17:44] moshfeu commented on #34
https://github.com/Coding-Coach/find-a-mentor#code-of-conduct

[2019-04-06 19:15] koolamusic commented on #42
oh yeah, cool

[2019-04-07 19:40] iyashsoni opened #280 "Ability to leave feedback for the interactions with mentor"
**Is your feature request related to a problem? Please describe.**
Yes. In current state, one cannot leave any feedback for the interactions one just had with a mentor. I believe a general feedback would be really helpful to others who comes to CC, seeking a mentor.

**Describe the solution you'd like**
A space where mentees can leave feedback on how they found the interactions with the mentor. Ou

[2019-04-08 09:00] moshfeu commented on #255
resolved by #277 and #274

[2019-04-08 09:00] #255 closed

[2019-04-08 10:38] emmawedekind commented on #280
This is a great idea, but it is only feasible for the full Coding Coach product. I will close the issue here but can you please re-open it on the [Coding Coach](https://github.com/Coding-Coach/coding-coach)  repository? Thanks!

[2019-04-08 10:39] emmawedekind commented on #245
I like this idea - would you want to open a PR? That way it might be easier to discuss whether it's the right solution!

[2019-04-08 10:40] emmawedekind commented on #136
I like those ideas @moshfeu ! @shadowcodex are you working on this?

[2019-04-08 10:42] moshfeu commented on #280
@emmawedekind it can be transferred :)

[2019-04-08 10:47] emmawedekind commented on #48
Thanks! I have added your content to the [Google doc](https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/edit?usp=sharing). Thanks so much for contributing! I will close this issue, but a link to this documentation will be added when the "Getting started" button is added to the page.

[2019-04-08 10:47] #48 closed

[2019-04-08 12:57] moshfeu commented on #245
If so, probably it should be done with #80 because we may use a different component.

[2019-04-08 15:51] emmawedekind commented on #245
Sure I'm cool with that - should we close this issue and add it as acceptance criteria for #80?

[2019-04-08 16:51] manpenaloza commented on #80
@moshfeu today got some urgent/important todos that will cover my upcoming dev-weeks. so either i have to postpone this a bit in case it does not hurry (can start in about 3 weeks from now on) or someone else wants to give it a try?

[2019-04-08 16:56] moshfeu commented on #80
Ok! Thanks for letting us know.
If we will find someone (or one of us will take this) I'll let you know.

[2019-04-08 16:57] moshfeu commented on #245
Good idea 👍

[2019-04-08 18:51] SgiobairOg commented on #62
Would anyone mind if I went ahead and updated the mentors JSON with the new properties for spoken languages?

I'd suggest `spokenLanguages` as a key to avoid any potential confusion for anyone manually editing the list. Value would be an array of [ISO Language codes](https://www.andiamo.co.uk/resources/iso-language-codes/) with the country code if applicable (de-ch for example). For backwards comp

[2019-04-09 11:06] emmawedekind commented on #245
Wonderful!

[2019-04-09 11:06] #245 closed

[2019-04-09 11:09] emmawedekind commented on #80
FYI I have added acceptance criteria to this issue!

[2019-04-09 11:10] emmawedekind commented on #80
Additionally, we have new designs, so please hold off on development until I've added those in. I should have them updated by tonight!

[2019-04-09 18:42] brockmdavis commented on #80
since I started working on this with my open issue I am happy to take this one @moshfeu @emmawedekind @manpenaloza

[2019-04-09 19:32] moshfeu commented on #80
@brockmdavis Sure!
Don't forget to wait for the new design.

[2019-04-09 19:59] moshfeu commented on #80
Just put it here: https://react-select.com/home, https://github.com/jedwatson/react-select

[2019-04-10 09:17] emmawedekind commented on #80
@brockmdavis I've added the new design & acceptance criteria in the issue description. I haven't finished the mobile layout yet but will get that as soon as possible.

[2019-04-10 09:18] emmawedekind commented on #80
Additionally, with the implementation of #193, we need to make sure that if a user clicks the tag on the profile card that it updates the list below the search bar.

[2019-04-10 09:19] emmawedekind commented on #62
@SgiobairOg Please do. We will add a language drop down/auto complete to the filter sidebar and not place them on the user cards. I will close this issue and open a new one.

[2019-04-10 09:19] #62 closed

[2019-04-10 09:20] emmawedekind opened #293 "Add a language autocomplete combobox to the Filter sidebar"
**Is your feature request related to a problem? Please describe.**
Users have no way to filter by spoken language.
_Spoken languages will not appear on mentor cards as they can take up too much space._

**Describe the solution you'd like**
Add a language autocomplete combobox to the Filter sidebar.
![image](https://user-images.githubusercontent.com/7671983/55867360-a1351f00-5b82-11e9-913a-91441219

[2019-04-10 09:23] emmawedekind opened #294 "Card styling re-design"
Update the card styling to the following:
![image](https://user-images.githubusercontent.com/7671983/55867538-f7a25d80-5b82-11e9-9a14-d40ab1cc9c60.png)

If you need assets, please reach out to me directly.

[2019-04-10 09:23] emmawedekind commented on #122
Hey @zacbraddy if you've started working on this, hold off. We have a new card re-design and I'm exploring new alternatives. Thanks!

[2019-04-10 09:24] emmawedekind commented on #42
Hi @koolamusic I have updated the design. We will add a main navigation at the top right instead of buttons. I have updated the issue description - thanks!

[2019-04-10 09:28] rachelfranklin1 commented on #294
Can I take this one please?

[2019-04-10 09:29] emmawedekind commented on #294
Sure @rachelfranklin1 thanks!

[2019-04-10 09:30] emmawedekind commented on #294
Note: We will use the original icons from the current cards => These were just placeholders for my design :)

[2019-04-10 09:38] koolamusic commented on #42
Well done, this is a lot more better

[2019-04-10 09:50] Sayrai commented on #293
can I take this?

[2019-04-10 11:13] moshfeu commented on #80
Let's wait for it. Ok? I'll review #193 later today.

[2019-04-10 12:54] brockmdavis commented on #80
@emmawedekind saw the designs, started on it this morning hope to have some stuff committed shortly.

[2019-04-10 13:54] moshfeu commented on #293
Thanks @Sayrai!
@emmawedekind we need to add the part from #62 - the part of how we implement it in the schema https://github.com/Coding-Coach/find-a-mentor/issues/62#issuecomment-480958851.
Also, what about mentors who havn't updated their languages yet? I think that all the mentors will have English by default and mentor could add anothers later.
Another aspects:
- tests (validate schema)
- cli

[2019-04-10 13:57] moshfeu commented on #80
Don't you want to wait for #193?

[2019-04-10 14:00] moshfeu commented on #294
Probably it's better to wait for #193 to avoid conflicts. I hope I'll merge this today.

[2019-04-10 14:05] moshfeu commented on #122
Also we (especially @crysfel ) are working on integrating the website to the db so the indications will come from the server. Maybe it should be better to wait for this too.
Related to https://github.com/Coding-Coach/coding-coach-api/issues/42

[2019-04-10 15:04] shayanypn commented on #34
sorry but what should I do with ![Uploading Screen Shot 2019-04-10 at 7.32.30 PM.png…](this)  @emmawedekind

[2019-04-10 16:20] shayanypn commented on #34
**PR::**  https://github.com/Coding-Coach/find-a-mentor/pull/295

[2019-04-10 18:32] moshfeu commented on #34
what's the screen resolution for this case?

[2019-04-10 18:39] shayanypn commented on #34
I tested on 13inch screen

[2019-04-10 18:41] moshfeu commented on #34
Maybe we can use media query for catch that case and make the sidebar scrollable and the links not `fixed`.

[2019-04-10 18:45] shayanypn commented on #34
Of course I am not a UX expert, but I think it's better to move filters to the top, and place the link, logo and others in the left sidebar, this type of design is typical
What is tour Idea @emmawedekind

[2019-04-10 18:49] moshfeu commented on #136
I think we can close this because it will be part of #80.
@shadowcodex can you confirm please?

[2019-04-10 18:50] moshfeu commented on #34
The technology will moved above the mentors list. Please review #80

[2019-04-10 20:46] #27 closed

[2019-04-10 21:44] moshfeu commented on #136
Closing. It will be handled as part of #80

[2019-04-10 21:44] #136 closed

[2019-04-10 23:27] zacbraddy commented on #122
Ah, in slack I originally suggested that we use a free tier DB for all this stuff but it was suggested the project wasn't ready for it yet. Glad to hear that some movement has started on that front. I'll go and watch that issue and when it's done I'll pick up work on this as I expect there will be a pretty significant different in the way we need to handle this.

[2019-04-11 03:46] analistacarlosh commented on #25
Hi @moshfeu,
I think now is totally finished the implementation of this task.

Please, could you take a look?

Thanks.

[2019-04-11 09:52] Sayrai commented on #293
Hi, sorry for my late response, had a busy day. I think the second option will be better i.e adding questions about languages via cli when signing up. @moshfeu

[2019-04-11 12:11] moshfeu commented on #293
No problem :)
We should support both of the options (tests and cli) because people are using them both.
Until we connect the website to the db. Which I hope will be done about 2 - 3 week.

So the question is, how much time you think it will takes?

[2019-04-11 21:41] #25 closed

[2019-04-12 03:18] shayanypn opened #298 "Add gh-pages to the project"
As discussed we are going to add gh-pages feature and all developers are going to add both their PR and a Test Link(which created by gh-pages on their fork repo)

[2019-04-12 09:52] rachelfranklin1 commented on #294
Thanks @moshfeu - I've just seen that the PR has been merged. I plan to work on this over the weekend. Will have a PR out asap!

[2019-04-12 14:11] emmawedekind commented on #294
Wonderful thanks Rachel :)

[2019-04-12 14:11] emmawedekind commented on #122
I'm gonna close this issue for now and we'll re-open it when we're ready :)

[2019-04-12 14:11] #122 closed

[2019-04-12 14:12] emmawedekind commented on #42
Hey @koolamusic I'd love to get this merged ASAP since many people keep asking how to sign up as a mentor. Any ETA? :)

[2019-04-12 14:12] emmawedekind commented on #80
#193 is now merged! :)

[2019-04-12 14:51] emmawedekind commented on #42
Just FYI I have updated the mobile design for this :) Please ensure the responsive/mobile site looks like this!

[2019-04-12 14:53] emmawedekind commented on #34
Hey @shayanypn I've updated the images in the issue description to include the new designs for desktop & mobile :) For the mobile design.. please wait until #42 has been delivered because at that point the responsive sidebar will be added! For now, you can display them inline (horizontally) above the filter!

[2019-04-12 16:14] moshfeu commented on #294
Thanks! Good luck :)

[2019-04-12 16:23] moshfeu commented on #34
He already finished it so I merged it. Let's open a new task for this @emmawedekind .

[2019-04-12 16:23] #34 closed

[2019-04-12 16:29] moshfeu commented on #42
@koolamusic,
Although the design contains the new card and filter designs, the task here is only for the nav bar. Ok?

[2019-04-13 10:15] jashgala opened #307 "Clicking mentor's "Website" opens incorrect URL"
**Describe the bug**
Trying to open a mentor candidate's personal website often redirects to an incorrect URL resulting in DNS faillure.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://mentors.codingcoach.io/?country=IN'
2. Click on 'Website' for one of the mentor candidates.
3. It will open a page of URL `https://http//www.<xyz>.com`

**Expected behavior**
Should open `https:

[2019-04-13 16:20] koolamusic commented on #42
That's alright, I have pushed the new designs

[2019-04-13 18:05] moshfeu commented on #307
Thanks!
Probably the mentor put the url with the schema despite [we asked not](https://github.com/Coding-Coach/find-a-mentor#channels) :(
Want to fix this and create a PR?

[2019-04-13 20:20] nourkilany opened #311 "Cookies policy overlaps become a patron button"
- the cookies policy link overlaps the become a patron button in mentors.codingcoach

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'codingcoach.io'
2. Click on 'Find a mentor'
3. Look at the bottom of the left panel

**Expected behavior**
The Become a patron button should be on top of cookies  policy not overlapping each other

**Screenshots**
![issueCodeMentor](https://user-images.g

[2019-04-13 20:56] moshfeu commented on #311
Thank you!
What is the resolution?

[2019-04-13 21:02] moshfeu commented on #293
Hi :)
Just let me know if you're working on it and how is it going and if I can help somehow.
Thanks!

[2019-04-13 21:08] nourkilany commented on #311
it's 1,366 x 768 pixels

[2019-04-14 04:07] moshfeu commented on #311
Thanks!
We will take care of this.

[2019-04-14 06:30] emmawedekind commented on #311
Thanks for this!

[2019-04-14 07:14] ptrciafae commented on #307
If there aren't any takers yet, can I work on this? Thanks! @jashgala @moshfeu

[2019-04-14 07:27] emmawedekind commented on #307
Sure @ptrciafae :)

[2019-04-14 07:28] emmawedekind commented on #307
I just added you to the organization so once your name appears, we can assign it to ya.

[2019-04-14 14:09] mtlewando commented on #311
If this isn't taken, I'd like to volunteer to help. 🙋🏼‍♂️

[2019-04-14 14:49] ptrciafae commented on #307
Thanks @emmawedekind! I've already accepted the invitation.

[2019-04-14 20:18] #42 closed

[2019-04-15 10:18] jamesgeorge007 commented on #311
@moshfeu @emmawedekind I would happy to work on this :clap: Also, any sort of code pointers is appreciated as I'm not that aware of the code-base.

[2019-04-15 10:19] jamesgeorge007 commented on #311
@moshfeu @emmawedekind I would be happy to work on this :clap: Also, any sort of code pointers is appreciated as I'm not that aware of the code-base.

[2019-04-15 10:53] SangeetManghnani commented on #311
I also found the same bug and found it here in the issues, tried solving this.
![image](https://user-images.githubusercontent.com/1811854/56127396-b0f59e80-5f9a-11e9-9267-667d1a02ac11.png). In case this yet needs to be closed, maybe I can help. Would be happy to contribute!

[2019-04-15 12:52] moshfeu commented on #311
Thank you all! @shayanypn will push a fix soon. But stay tune about new tasks :)

[2019-04-16 05:45] ptrciafae commented on #307
PR https://github.com/Coding-Coach/find-a-mentor/pull/320 is already up for code review @jashgala @moshfeu @emmawedekind Inputs are appreciated! Thanks

[2019-04-16 07:40] moshfeu commented on #307
Thanks!
I'll review it soon. But from what I saw so far, can you check if the validation can be part of the global schema validation? (Just like the image url validation? https://github.com/Coding-Coach/find-a-mentor/blob/3a13e6838e802db3f6a254313e8b5e81fa45dad6/src/__tests__/mentors.json-test.js#L19

[2019-04-16 07:41] moshfeu commented on #307
Thanks!
I'll review it soon. But from what I saw so far, can you check if the validation can be part of the global schema validation? (Just like the image url validation? https://github.com/Coding-Coach/find-a-mentor/blob/3a13e6838e802db3f6a254313e8b5e81fa45dad6/src/__tests__/mentors.json-test.js#L19

[2019-04-16 17:19] #307 closed

[2019-04-17 10:50] moshfeu commented on #114
Hi :)
Long time, what's the status?

[2019-04-19 12:40] gepetobio opened #329 "Clicking on favourite icon jumps to top of the page"
**Describe the bug**
When I find a mentor down the page and click on the heart icon, the window jumps to the top of the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://mentors.codingcoach.io/?language=reactjs'
2. Scroll down (at least 1vh)
3. Click on the heart icon
4. Page jumps back to the top of the page

**Expected behavior**
The window should stay where it is.

**Scr

[2019-04-19 13:42] emmawedekind commented on #329
Thanks for bringing this to our attention! Did you want to submit the fix or should we open it to the community? :)

[2019-04-21 00:16] gepetobio commented on #329
Hi @emmawedekind I'd rather leave it open to the community to fix it as it's a `good first issue` 😉
Thank you!

[2019-04-21 15:33] shayanypn commented on #311
@nourkilany  I think the is your screen resolution, actually browsers work with `view point` can you double check this please?
I test this screen size on almost all browser, all work find.

[2019-04-21 17:19] nourkilany commented on #311
![Screenshot from 2019-04-21 19-12-07](https://user-images.githubusercontent.com/20031086/56473328-1b5e8100-646a-11e9-9721-60101c5731ec.png)
here's another screenshot from chrome.
Moreover, @SangeetManghnani  also found the same bug

[2019-04-21 17:34] shayanypn commented on #311
@nourkilany thanks for reporting, just to be sure, would you please get me the result of `window.innerHeight` in your browser `console` section of `inspect element`. thanks.

[2019-04-21 17:38] nourkilany commented on #311
in firefox: 657
in chrome: 468

[2019-04-21 18:01] Guin- commented on #329
I would like to take this if no one is working on it!

[2019-04-21 19:00] moshfeu commented on #329
@Guin- all yours. Thanks!

[2019-04-21 19:05] Guin- commented on #329
@moshfeu great, thanks!

[2019-04-21 23:39] Guin- commented on #293
@Sayrai are you working on this? Just asking because i would love to take this if you don't have time, or try to help!

[2019-04-21 23:46] Sayrai commented on #293
Yes, I am. will keep you updated on slack. Sorry for been a bit slow. Been off and on.

[2019-04-21 23:48] Sayrai commented on #293
@Guin Yes I am. "If" I don't send in a pull request in a few days, @moshfeu you can please reassign.

[2019-04-23 17:46] emmawedekind opened #338 "Modals extend past the fold"
**Describe the bug**
When a user clicks one of the sidebar navigation (i.e. Cookies or Privacy Policy), the modal appears but extends below the screen. The users must scroll the main page to view the full modal.
<img width="1679" alt="image" src="https://user-images.githubusercontent.com/7671983/56603678-74f8b400-6600-11e9-848d-f99c1266ee44.png">

**Expected behavior**
The modal should appear comp

[2019-04-23 17:50] mtlewando commented on #338
I volunteer! 🙋🏼‍♂️

[2019-04-23 17:59] emmawedekind commented on #338
Great! I've just added you to the organization. Once you appear I'll assign you!

[2019-04-24 17:00] palashmon opened #346 "Update generateMentorId function"
**Is your feature request related to a problem? Please describe.**
https://github.com/Coding-Coach/find-a-mentor/blob/11f2de70da5f9770fa0295597233d165bb16be75/src/components/Card/Card.js#L8-L10

I think this can be an issue in future with more mentors coming in and a scenario might come where two mentors have the same name. In that case, we will have multiple duplicate ids for this dom element in

[2019-04-24 17:17] palashmon opened #347 "Image optimization"
**Is your feature request related to a problem? Please describe.**
I was looking at the audit tab in chrome console w/ "Simulated Fast 3G, 4x CPU Slowdown" option and found some issues related to images:

![Mentors Coding Coach](https://user-images.githubusercontent.com/14850464/56679002-9f6e6e00-66e1-11e9-82cd-252ac46a468a.jpg)

**Describe the solution you'd like**
I think we can create some gulp

[2019-04-24 19:18] #329 closed

[2019-04-24 20:11] moshfeu commented on #347
Thanks! You're absolutely right!
The images are not server from our server (github-pages) but directly from the supplied URL. This site is only alpha and we wanted to simplify the registration process becuase it's not regular one and we have no server for the website (completely static).
In the full app we'll deferentially handle this better :)

[2019-04-24 20:22] moshfeu commented on #346
Thanks!
We hope that the full app (we are only in alpha) will be ready before :) but it's valid point.
Seems that the PR is 90% done 😉. Can you just create it with your suggestion?
Thanks!

[2019-04-25 02:51] palashmon commented on #347
No problems at all. Just wanted to let you know, so that we have it in mind in future and we can keep making the app better & better. :smiley:

[2019-04-25 03:38] palashmon commented on #346
Sure. I have created a quick PR for it.

[2019-04-25 07:57] mtlewando commented on #338
Apologies for the delay in joining the organisation. Joined, fixed, and made a PR: #348.

[2019-04-26 13:40] seanmfox opened #359 "Sidebar navigation overlaps other sidebar content"
**Describe the bug**
On widescreen monitors (e.g. 1274x1850), the content of the Sidebar Navigation overlaps the content above it.
![2019-04-26 Coding Coach](https://user-images.githubusercontent.com/32000565/56808011-71328080-67fe-11e9-9d86-dbcd7ea84f70.png)

**Expected behavior**
The sidebar navigation content should remain below the Patreon button as it does on other screen sizes.

**Desktop (p

[2019-04-26 13:42] seanmfox commented on #359
I'd be up for taking this issue on.

[2019-04-26 13:43] #359 closed

[2019-04-26 16:32] Guin- commented on #293
any updates on this? : )

[2019-04-27 17:42] moshfeu commented on #359
@seanmfox,
I'm not sure I understand, Is this bug not relevant anymore?

[2019-04-27 17:46] moshfeu commented on #293
@Guin- you got this.
@Sayrai Thanks!

[2019-04-27 17:49] moshfeu commented on #347
Sure! Thank you!
I'm closing it now.

[2019-04-27 17:49] #347 closed

[2019-04-27 17:50] moshfeu commented on #346
Thanks! Just fix the build and I'll merge it.

[2019-04-28 05:31] #294 closed

[2019-04-28 05:33] moshfeu commented on #114
Seems there is no activity about the task (and no more requests for it) and the integration for add a mentor via the server is coming soon so I'll close the issue soon if there are no objections.

[2019-04-28 10:15] #346 closed

[2019-04-29 10:54] seanmfox commented on #359
I realized after I made the issue that this is already included in another issue.

[2019-04-29 13:23] moshfeu commented on #359
Which one?

[2019-04-29 18:54] seanmfox commented on #359
#311

[2019-04-29 18:57] sto3psl opened #370 "Make location icon click filter like language tags do"
**Is your feature request related to a problem? Please describe.**
When using the mentor search I tried to click on the location icon next to the profile pictures. Since a click on a tag selects it as filter, it would be nice to have this functionality for the location as well.

**Describe the solution you'd like**
A click on for example `📍DE` should filter the mentors list by location Germany and

[2019-04-29 19:04] moshfeu commented on #370
All yours. Thanks!

[2019-04-30 05:42] #338 closed

[2019-04-30 08:11] #370 closed

[2019-05-01 20:11] 07Gond commented on #114
Hi! @moshfeu I was off some time. I could do it anyway if needed.

[2019-05-02 12:51] shayanypn commented on #359
@seanmfox Could we discuss about this issue on slack group? May I have your ID

[2019-05-02 16:10] #298 closed

[2019-05-03 11:24] tureey commented on #114
Yes, I think so @07Gond

[2019-05-03 16:05] #293 closed

[2019-05-05 16:12] moshfeu commented on #80
@brockmdavis Any update? Some PRs merged since than so make to to fetch from the master.
Thanks!

[2019-05-08 06:08] praveenscience commented on #114
Anyway we will be checking the PRs to complete it right, so it gets caught there. 😇

[2019-05-14 19:19] codeanit opened #402 "HTTPS is set as default"
Hi Everyone,

Section channel, type website creates a URL with HTTPS with the domain name provided.

I have a domain which redirects to other domain. Now the problem is because the URL is with HTTPS, the redirect does not occur.

This is not exactly a bug but not a feature as well, hence, added in this section.

I would like to hear others thought on this.

Thank you.

[2019-05-14 20:03] moshfeu commented on #402
Hi, thanks for letting us know.
We prefer to serve our users secured sources so that's why we encourage our mentors to supply secured resources.
Is the second address (the one that the user redirects to) has `https`?

[2019-05-16 08:30] codeanit commented on #402
Hi @moshfeu ,

The redirected address has HTTPS, i.e. https://anit.tech.

Thank you.

[2019-05-16 08:41] moshfeu commented on #402
So maybe you could not use that url or use different service?

[2019-05-24 06:15] moshfeu commented on #402
@codeanit are we good? Didnyou mamage the issue?

[2019-05-24 06:16] moshfeu commented on #311
@nourkilany is the issue still exist?
@shayanypn what's the status?

[2019-05-24 06:19] moshfeu commented on #114
We're working now on moving from the static file (memtors.json) to actual db and we hope to release it soon. So this issue is not relevant any more.
Thanks everyone.

[2019-05-24 06:19] #114 closed

[2019-05-24 14:16] nourkilany commented on #311
yeah, I have just checked, on chrome the issue still persists.
but on firefox the button is completely not visible unless I zoom out which then makes everything just fine.

[2019-05-26 07:09] moshfeu commented on #80
Since no response, I'll close this and create a new one for a cleaner view.
Thanks

[2019-05-26 07:09] #80 closed

[2019-05-26 07:39] moshfeu opened #413 "Multiple choises filter"
**Is your feature request related to a problem? Please describe.**
In terms of a ux improvement it might make sense to implement some tag overview that you can also interact with.

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/7671983/55867046-00466400-5b82-11e9-87ce-d503422d107f.png)

**Acceptance Criteria**
- If no skills are found, display the following

[2019-05-29 12:37] alexluong commented on #413
Has anybody taken this issue yet? I'd love to help!

[2019-05-29 15:06] moshfeu commented on #413
Thanks @alexluong, not yet.

[2019-05-29 15:18] moshfeu commented on #413
@emmawedekind Can you add the mobile design? (It it should be changed)

[2019-06-02 13:48] #311 closed

[2019-06-05 11:04] moshfeu commented on #413
@alexluong do you have an update (for desktop)?

[2019-06-05 13:04] alexluong commented on #413
@moshfeu Working on some styling. I'd try to get it done either tonight or tomorrow's. I'll keep you up to date.

[2019-06-05 14:15] moshfeu commented on #413
Thanks

[2019-06-06 18:40] emmawedekind commented on #413
I have added the mobile designs @alexluong :)

[2019-06-07 05:52] codeanit commented on #402
@moshfeu, Sorry about the delay. Sometimes I dont know where I drown in.
On hover of the website icon on my profile, I can still see "https://". So I guess the issue is still not resolved. But, I can understand HTTPS will be the norm, so this might be a good thing. I will update my site link to the one with it. Thanks,

[2019-06-07 05:57] moshfeu commented on #402
You're right :)
Thanks for the update. So I'm closing the issue now.

[2019-06-07 05:57] #402 closed

[2019-06-10 10:03] jagzviruz opened #428 "Fix Sharing preview"
**Describe the bug**
CodingCoach Logo is not displayed in meta previews

**To Reproduce**
Steps to reproduce the behavior:
1. When a URL is shared on Twitter, the logo is not displayed.

**Expected behavior**
The logo should appear.

**Additional context**
The `<meta property="og:* ... />` tags should be having an absolute URL.

[2019-06-10 17:29] alexluong commented on #413
Sorry for the delay. PR coming tonight hopefully. Got everything ready besides the styling now.

[2019-06-10 19:59] #428 closed

[2019-06-10 20:11] moshfeu commented on #413
Thanks!

[2019-06-11 13:20] brentmclark opened #430 "Modal container renders without content"
#### Bug Description
In #427 I introduced an issue wherein the modal animation no longer works.  This is expected since you cannot animation a change of the `display` property.  In the interest of keeping the PR focused on the core of the issue, I am writing up this bug issue so we don't lose track of the problem.

#### To Reproduce
1.  Launch the app
1.  Click on any of the links in the bottom-le

[2019-06-11 14:41] #430 closed

[2019-06-12 05:16] moshfeu opened #433 "Filters are visible even in collapsed mode when no result"
**Describe the bug**
<img width="357" alt="Screen Shot 2019-06-12 at 8 09 54" src="https://user-images.githubusercontent.com/3723951/59324922-9c5b2b80-8ce9-11e9-9db6-5db2cc8371a6.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Add filters so until no results (remove all your favorites mentors and toggle the favorites switch)
2. Click on the the filters toggle button

<img width="243" a

[2019-06-12 13:06] jpggvilaca commented on #433
Will pick this up once I get home (currently at work)

[2019-06-12 13:12] moshfeu commented on #433
Thanks! Invitation sent.

[2019-06-12 17:33] jpggvilaca commented on #433
PR at https://github.com/Coding-Coach/find-a-mentor/pull/435

[2019-06-16 07:34] #433 closed

[2019-07-09 16:53] codeanit opened #457 "Message To Mentee From Mentor"
Hi,
I have been getting a lot of requests for suggestions and question on how to become a good software engineer. And normally my answer would be the similar and as answering each is becoming a little bit more time consuming. And un-aswered email queries would be very disappointing to those seeking some solution. For this I would like to purpose a feature for mentors to add text area where Mentor

[2019-07-11 04:22] moshfeu commented on #457
Thanks for the idea! This is a good point.
IMHO, right now we have no place in the UI for this. We're working on the next "generation" of this project these days so it probably could be added in the next phases.

Meantime, you can write a post about that and it as a link to your mentor's card.

Moreover, if you think it's relevant to other mentees, you could publish it in the blog we're working on

[2019-07-11 06:09] oliviakatie commented on #413
Thanks for updating and giving us simple steps. However, if you like to solve your **[Linksys Error 211](http://www.routercustomercare.co/blog/how-to-fix-linksys-error-211/)** you can visit us through our toll free number or visit us at our website.

[2019-07-11 16:12] crysfel commented on #457
@codeanit this is a great idea! As Mosh said, we are planning on setting up a blog where we can all publish content, this is definitely something we should write about

[2019-07-12 05:36] moshfeu commented on #457
@codeanit what do you think?

[2019-07-14 19:56] wuilliam321 opened #478 "Cypess Support Command param not used"
**Describe the bug**
It's not a bug itself but it's an unused params that we need to use or remove it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `cypress/support/commands.js` line 2
2. You will see an unused param for `filterByName` command

**Expected behavior**
Use all the params passed to the method

**Screenshots**
N/A

**Desktop (please complete the following information):**

[2019-07-14 19:57] wuilliam321 commented on #478
I can take this issue. I already did the fix

[2019-07-14 20:51] #478 closed

[2019-07-18 19:25] wuilliam321 opened #498 "Implement Clear Selected Filter Option"
**Is your feature request related to a problem? Please describe.**
Is not a problem itself but it is useful to quick clear inputs to choose another filter or simply clear the filters

**Describe the solution you'd like**
Add a clear button/icon at the right of the autocomplete filter, when it is clicked, the autocomplete input is cleared.

**Describe alternatives you've considered**
Add a button,

[2019-07-18 19:25] wuilliam321 commented on #498
Please, i'm working on it, i'll make a PR asap.

[2019-07-18 19:29] wuilliam321 commented on #498
I'm working on tests now.

[2019-07-24 04:09] moshfeu commented on #457
Ok. I'm gonna cloae that issue now. If there is more to discuss, don't hesitate to open a new one.

[2019-07-24 04:09] #457 closed

[2019-07-24 08:21] ramirozap opened #513 "Filter filters dropdowns to show only valid options"
**Is your feature request related to a problem? Please describe.**
Every filter (tech/country/name/language) possibility is displayed even if there are no mentors with that tech, country, name or language.
e.g.: The user filter by tech picking `3d`, as of now there is one mentor with that tech and he is from Ukraine, If the users click on country dropdown he will be able to see every country

**De

[2019-07-24 12:03] #513 closed

[2019-07-26 20:24] crysfel opened #518 "Rename parameter in application request"
**Describe the bug**
The backend will rename `reason` to `description`, we need to rename this parameter in the client as well:

https://github.com/Coding-Coach/find-a-mentor/blob/auth0/src/api/index.js#L59

**Additional context**
As part of building new features in the backend, it makes sense to rename this parameter to something more meaningful based on the new requirements we have

[2019-07-27 18:16] #518 closed

[2019-07-27 18:17] moshfeu commented on #518
We need to use common types definition to make our life easier (and safer) for such cases.

[2019-07-30 04:15] crysfel opened #522 "The `become a mentor` api is failing :("
**Describe the bug**
When clicking the `Become a mentor` button, the API expects a `status` param to be `Pending`, well... currently the request is not sending it and the API returns a 400 validation error.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Edit profile
3. Click `Become a mentor` button
4. See error

**Expected behavior**
A new mentor's application should be created

*

[2019-07-30 12:11] #498 closed

[2019-08-02 12:32] moshfeu opened #532 "Becoming a mentor UI entry points"
There are 2 become a mentor "entry points" in the UI:

1. The top bar link `Become a mentor` - which currently leads to a guide.
2. The `Edit your profile` item in the user menu, if user is logged in.

The feature is aim to make an order with those links as the follow:

#### When user is not logged in
Click on (1) will redirect to the login / register page. When user finish the registration they r

[2019-08-04 10:22] moshfeu commented on #532
#536 merged

[2019-08-04 10:22] #532 closed

[2019-08-04 22:12] #522 closed

[2019-08-07 18:45] crysfel opened #544 "Channels validation failing"
**Describe the bug**
We have a limit of 3 channels, this validation is missing in the client side. When sending the request the server responses with a validation error, but the client doesn't show that error, then even if I clear one of the channels, the client doesn't allows me to send the request again until I fill it out.

**To Reproduce**
Steps to reproduce the behavior:
1. Click `Become a me

[2019-08-07 19:04] moshfeu commented on #544
The planned behaviour was to disable the fields the other fields if 2 already filled. This way, you'll not be able to fill the 4 and get the chance to get this error from the server.
Moreover, I think that the client shouldn't go to the server before it validate the data to give a better user experience and also, when we'' support multilingual, we probably use the client for that mechanizm.
I just

[2019-08-07 20:18] crysfel opened #545 "Deleting user is sending the wrong ID to the server"
**Describe the bug**
When deleting the user account, the client is not sending the correct `_id`, instead is sending the `auth0Id`

**To Reproduce**
Steps to reproduce the behavior:
1. Click `Become a mentor`
2. Click on 'Delete account'
3. Server responds with a 500 error 😅

**Expected behavior**
Server needs to responds with a 404 error instead, there's a GH issues already to fix this. But the c

[2019-08-07 22:15] moshfeu opened #546 "close become a mentor modal after application submitted"
Steps:

1. Click on "become a mentor"
2. Register
3. Fill the "become a mentor" form and submit.

**Expected result**
After the form submitted successfully, the modal should be closed.

[2019-08-07 22:23] moshfeu opened #547 "Update avatar image after the user updated it"
Currently, when user update him / her details, the avatar image in the members area is not updating and the links that described in #532, is not updating, just until refresh.

This is opening a pandora box because it requires to implement global store such as Context, mobx or something.

Easy solution is to clear the user details from `localStorage` and refresh the page.

[2019-08-08 02:03] crysfel opened #549 "When deleting an account user should logout from the app"
**Describe the bug**
When deleting an account, the API removes the records in the database, but the UI still shows the user as logged in.

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'Become a mentor'
2. Click on 'Delete account'
3. User should be logged out after data gets removed

**Expected behavior**
User should be logged out from the app after the API removed all records from t

[2019-08-08 07:32] moshfeu commented on #549
Already done :) https://github.com/Coding-Coach/find-a-mentor/commit/78a3dd91433a885a2d82fd6925e45c7e8b452769

[2019-08-08 07:32] #549 closed

[2019-08-08 07:34] #545 closed

[2019-08-08 07:35] moshfeu commented on #544
@crysfel 👆

[2019-08-08 14:49] crysfel commented on #547
As the app starts growing it will be inevitable to introduce a global state library, I'd suggest doing that now to avoid increasing the technical debt.

[2019-08-08 14:50] crysfel commented on #544
Sounds good to me, as long as there's some kind of validation in the client I'm ok.

[2019-08-08 15:19] nero2009 opened #551 "Update Readme"
**Is your feature request related to a problem? Please describe.**
Hi everyone, I was trying to get this project running on my computer so I could try to contribute because this is the first time I have been free in a while, the problem is that there is no clear guideline on how to get the project running, how to pull the latest update from a branch, make PRs e.t.c similar to [this](https://github

[2019-08-08 15:35] ramirozap commented on #547
I think that React context would do the trick by now, but I'm not sure if is a good enough solution for a bigger app.

On the other hand, the problem with adding a library is the increase in complexity, this could discourage potential contributors, e.g.: adding Redux means: adding an async library (Thunk, Sagas), reselect, react-redux (with hooks or with HoCs?).

I prefer React Context in this cas

[2019-08-08 18:13] #544 closed

[2019-08-08 19:46] moshfeu commented on #547
Agreed. The question is if it's a blocker for next version or we can manage it by refresh and create a new issue for integrate global store management.

It's an important point and it was in our mind from the beginning. IMHO, it's not more important than doing a good and maintainable product. We started with a very basic tech stuck. No typescript, no Sass, not global store library. But the product

[2019-08-08 19:51] moshfeu commented on #551
Thanks for the issue!
If you already read this section in codingcoach that means that you know how to create PR 😃
So, please feel free to open one with this addition 👍

[2019-08-08 19:51] #546 closed

[2019-08-09 11:57] ramirozap opened #556 "Faving a mentor is not working"
**Describe the bug**
Faving a mentor on alpha site is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Fav a mentor
2. Look how every mentor is faved

**Expected behavior**
When I click on a heart of a mentor I expect that mentor and only that mentor to be faved.

[2019-08-10 19:38] moshfeu opened #558 "Create an application only if there is no existing one"
Currently, if user wants to update his details he gets an error (because the client call to create application). Instead, the client need to check if there is a pending application and not try to create a new one.

[2019-08-10 20:39] #558 closed

[2019-08-10 20:41] moshfeu commented on #558
Relates to https://github.com/Coding-Coach/find-a-mentor-api/issues/52

[2019-08-10 20:52] #556 closed

[2019-08-10 20:57] moshfeu commented on #547
I solved that specifically. I'll create a new issue to keep this important discussion.

[2019-08-10 20:57] #547 closed

[2019-08-10 21:02] moshfeu opened #559 "[Discussion] Integrate global store"
This issue is continue to a discussion in #547.
We see that we need a global store (a lot of usages of current user for example, also, filter, mentors etc.).
The question is what provider to choose. The relevant options: React Context, mobx or redux or if you have an idea of a stable and trustable (by the community) tool.

[2019-08-10 21:46] brentmclark commented on #559
I have a lot of thoughts on this, but can't provide an in-depth response right now.  The short version is that I think we should use React Context until we have a painfully-obvious reason not to.  And even then, we should choose Apollo Client (or a reasonable alternative if another one exists for REST APIs) over redux or mobx.

[2019-08-10 23:56] brentmclark commented on #559
For clarity, I am distinguishing between API response caching versus a general purpose store.  The former is better handled by a domain-specific solution.

[2019-08-12 05:16] moshfeu opened #561 "Edit Profile - Channels - make the inputs higher"
<img width="319" alt="Screen Shot 2019-08-12 at 8 15 18" src="https://user-images.githubusercontent.com/3723951/62846502-59add380-bcd9-11e9-9c1b-3f42ef427808.png">

Also, click on the channels label / prefix will focus its `<input />`.
Make sure that they still aligned with the icon and the label in the left.

[2019-08-12 16:26] brentmclark commented on #559
@moshfeu I am not seeing much engagement on this topic yet.  Would it help if I put together a PR showcasing what I think would be a good approach for handling `currentUser`?  The PR could be safely discarded if we choose an alternative route, but it would at least give us something concrete to add to the discussion.

[2019-08-12 16:36] moshfeu commented on #559
I just focused on close some edges for the `auth0` release :)
I'll be happy to see your approach because, and I'm not that familiar with Apollo / GraphQL, I didn't understand how something like that can replace a state management library / tool such as Context / mobx / redux.

[2019-08-12 18:38] crysfel commented on #559
Using apollo seems like a good idea to me as well, we want to use graphql at some point to allow clients to request only the data they need and avoid problems with API versioning, specially when it comes to native mobile apps.

The backend framework we are using supports graphql, we will have to create the resolvers and we should be able to use the same services we have.

[2019-08-12 18:45] brentmclark commented on #559
We can transition to Apollo Client right now without needing to *also* cut over to GraphQL (which I fully support doing, FWIW).

Apollo Client can work with REST APIs via [apollo-link-rest](https://www.apollographql.com/docs/link/links/rest/).

[2019-08-12 20:15] moshfeu commented on #559
A question, how it will affect the bundle and the performance? Are there known issues about that?

[2019-08-12 21:35] #561 closed

[2019-08-13 13:49] brentmclark commented on #559
Nothing unreasonable, from my experience.  The bundle size is reasonable.  Performance is good on first render; 🔥 on page revisits since the API response will be cached.

[2019-08-13 22:28] moshfeu opened #568 "Call the right api for getting a user's application"
Use that: `GET /mentors/:user_id/applications` here:
https://github.com/Coding-Coach/find-a-mentor/blob/c0df8a408b31f9ec06ca32ec2d3e4a793ad7fc75/src/api/index.js#L100

[2019-08-15 03:02] #568 closed

[2019-08-15 03:04] moshfeu commented on #551
Closed by #560

[2019-08-15 03:04] #551 closed

[2019-08-15 16:54] ramirozap opened #573 "Refactor MentorList component from class to functional + hooks"
`src/components/MentorsList/MentorsList.js` is using deprecated lifecycle methods, should be refactored to a more current approach: functional + hooks

[2019-08-15 19:23] brentmclark opened #574 "Updating Mentor Channels Does Not Remove Previous Values From Payload"
**Describe the bug**
Exchanging one mentor channel for another does not remove the deleted channel from the request payload.

**To Reproduce**
Steps to reproduce the behavior:
1. As a mentor, edit your profile.
2. Ensure you have 3 channels
3. Delete one channel
4. Add a different channel
5. Receive error response from API (400, too many channels)

**Expected behavior**
I anticipated that the chan

[2019-08-15 19:25] arku commented on #574
@brentmclark I would like to fix this issue.

[2019-08-15 19:32] moshfeu commented on #574
@arku Thanks! Do you have time to do this now? Sorry about that but it's a production bug.

[2019-08-15 19:47] vijaywargiya commented on #574
Hi,
The issue can also be replicated when you try registering as a mentor using the newly released form. The payload always contains 4 channels, even if you leave them blank.

[code]

[2019-08-15 19:50] janwilmans opened #575 "As a mentor its possible to enter 142 characters in the Description field"
**Describe the bug**
As a mentor its possible to enter 142 characters in the Description field,
however, only 141 chars are allowed, and you will be presented with a
![image](https://user-images.githubusercontent.com/5933444/63122205-72064280-bfa6-11e9-99b9-4bcb84851a4f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit profile'
2. Enter a description that has the max. allowed

[2019-08-15 19:51] janwilmans opened #576 "As a mentor its possible to resize the 'description' field in the 'Edit Profile' dialog beyond reason"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit profile.'
2. Resize the description very large

**Expected behavior**
Limits ?

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/5933444/63122365-da552400-bfa6-11e9-9cd6-ebd0ba686458

[2019-08-15 19:54] brentmclark opened #577 "Deleting a Mentor Channel Causes Error"
**Describe the bug**
Deleting a mentor channel causes a 50 response from the API.  You can see it in the video below; I'm pretty sure it's because the request payload contains an object for the channel, but the `id` is missing.  Presumably, the entire channel should be removed instead of only the id.

**To Reproduce**
Steps to reproduce the behavior:
1. As a mentor, edit your profile
2. Remove the

[2019-08-15 19:55] janwilmans opened #578 "As a mentor is possible to enter a 'Title' that is longer then can be comfortably conceived (rendered)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit profile'
2. Enter a 'Title' of 50 or more chars
3. Press 'save'
4. look at you profile

**Expected behavior**
A limit on the 'Title' that is not erroneously rendered in the profile

**Screenshots**

![image](https://user-images.githubusercontent.com/5933444/631

[2019-08-15 19:58] moshfeu commented on #575
Not anymore. Can you verify it please?

[2019-08-15 20:03] janwilmans opened #579 "If you enter invalid data in the 'Edit profile' dialog and close it, it is remembered ?!"
**Describe the bug**
If you enter invalid data in the 'Edit profile' dialog and close it, using the close 'X' button.
The re-open the 'edit profile' dialog, the  invalid data is still there, it a bit uncomfortable, you would expect it to be 'not saved'.

Now, its not actually 'saved' but, it does appear to be, because it is visible again after re-opening the 'edit profile' dialog

**To Reproduce**

[2019-08-15 20:04] janwilmans commented on #575
Yes, verified. its ok now!

[2019-08-15 20:04] #575 closed

[2019-08-15 20:04] #578 closed

[2019-08-15 20:06] janwilmans commented on #578
Verified. Working correctly now.

[2019-08-15 20:06] moshfeu commented on #579
I think we need more opinions about that :)
@crysfel @emmawedekind

[2019-08-15 20:08] #576 closed

[2019-08-15 20:13] emmawedekind commented on #579
The invalid data should be removed on dismissal if not saved :)

[2019-08-15 20:21] janwilmans opened #580 "As a mentor is possible to enter an email address is too long"
**Describe the bug**
As a mentor is possible to enter an email address is too long (254+ chars)
Also there is an arbitrary limits of 50-100 chars?

**Expected behavior**
RFC5321 specifies an email address can't exceed 254 chars.
However, there is 71-char limit:
jan@abcdeabcdeabcdeabcdeabcdeabcdeabcdeabcdeabcdeabcde0123456789abc.com

reports no client side validation message, only:

![image](https:

[2019-08-15 20:27] #577 closed

[2019-08-15 20:38] arku commented on #574
@moshfeu Ah. I have got the dev env setup but it might take me a while to get to it. Feel free to fix if you can do it right away.

[2019-08-15 21:22] janwilmans opened #581 "the words in the profile are b- roken up weird"
**Describe the bug**
The description in the profile is fitted into the profile box, but the words don't flow right.

**Expected behavior**

[code]

in stead of
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/5933444/63127720-59e8f000-bfb3-11e9-9cf1-8544a22fde2f.png)

[2019-08-15 21:27] #579 closed

[2019-08-15 21:29] #581 closed

[2019-08-15 21:34] moshfeu commented on #574
Resolved by #577

[2019-08-15 21:34] #574 closed

[2019-08-15 21:51] moshfeu opened #583 "Filter's dropdown is empty even when there the querystring contains that filter"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Go to https://mentors.codingcoach.io/?country=US

**Expected behavior**
Country dropdown's value should be "United States"

<img width="593" alt="Screen Shot 2019-08-16 at 0 49 10" src="https://user-images.githubusercontent.com/3723951/63129245-b6520c80-bfbf-11e9-8e38-aa658b9

[2019-08-15 22:10] janwilmans opened #584 "Make the profile picture link to the personal profile page"
I was looking for a way to get the link to my own profile, it turns out if you search by name for your own name, you get a link like:
`https://mentors.codingcoach.io/?name=janwilmans`

I propose to make the profile picture 'clickable' so the picture links to the 'single profile' page.

![image](https://user-images.githubusercontent.com/5933444/63130195-f31b0500-bfb9-11e9-8d07-5eab9768c889.png)

so

[2019-08-15 22:25] janwilmans opened #585 "Link back to the front page from the coding coach logo on the mentors page"
I think it would make sense have the logo link back up to `https://codingcoach.io/`

![image](https://user-images.githubusercontent.com/5933444/63131011-91a86580-bfbc-11e9-9b00-432502f99b0e.png)

[2019-08-16 14:04] crysfel commented on #585
Agreed, is a common pattern that people would expect

[2019-08-16 14:05] crysfel commented on #584
Great idea, this should be quite easy to implement.

[2019-08-16 16:40] ramirozap commented on #583
This issue is happening because we are deriving the lists from the mentors and rendering the filters before the response.

The problem is that we are trying to obtain the value from an empty list of techs/countries/names/languages before those are even created and we are doing it in the first render only.

As I see, we have two options, defer the filters rendering until we have the lists putting a

[2019-08-18 08:32] moshfeu commented on #585
These are pretty different applications.
Google docs or Gmail's are not redirect to Google main page but the app root route.

[2019-08-18 08:34] moshfeu commented on #583
I'll go with the first one. I'm fan of one time run :)

[2019-08-18 13:46] kingingcole commented on #584
@crysfel Is there a single profile page currently?

[2019-08-18 13:48] moshfeu commented on #584
https://mentors.codingcoach.io/?name={the name}.
For example: https://mentors.codingcoach.io/?name=Crysfel+Villa

[2019-08-18 13:56] kingingcole commented on #584
But that's not a profile detail page, right? It's just the only card that matches a filter. Does it make sense adding the link to the picture just so it will filter and display the same card whose picture you just clicked? I don't think I'm making sense 😔

[2019-08-18 14:10] moshfeu commented on #584
For now, it's the only "profile" page we have. It does make any sense. Let's say you want to show your friends that you're a mentor, how can you do this?

[2019-08-18 17:17] kingingcole commented on #584
Build out a new UserProfilePage.js component that shows the user

[2019-08-19 08:09] moshfeu commented on #584
@janwilmans I just reilized what those polygons meant for 😂. Thanks for the sensitivity!

[2019-08-19 15:31] crysfel commented on #584
@kingingcole A profile's page will come soon, we are currently prioritizing next features. Thanks for your input

[2019-08-19 17:56] moshfeu commented on #584
@kingingcole want to take this?

[2019-08-19 17:57] moshfeu commented on #585
@crysfel, @janwilmans thoughts?

[2019-08-19 17:58] moshfeu commented on #583
@ramirozap want to take this?

[2019-08-19 18:51] ramirozap commented on #583
I could take it in a few days, maybe by the weekend, if you or  someone else want to do it, go for it :)

[2019-08-19 18:54] moshfeu commented on #583
I can't until the weekend either. Let's see if someone else wants to take this.
Thanks

[2019-08-19 19:06] kingingcole commented on #584
It'd be lovely to. What needs to be done?

[2019-08-19 19:17] janwilmans commented on #585
Well, I think it makes sense for the logo to link back up to main entry page. Also: whats the alternative, where else can it link?

In any case, once you enter the 'mentors' page there is no obvious way to go back
I ended up re-typing codingcoach.io in the address bar and that felt wrong.

[2019-08-19 19:52] moshfeu commented on #584
Make the profile link to `https://mentors.codingcoach.io/?name={mentor_name}` :)

[2019-08-19 20:16] moshfeu commented on #585
Currently, the app is **single** page application (the routes are in the querystring because of technical limitation for now). Once there will be more route (and will be) the main entry of that app will be: mentors.codingcoach.io.
I think that most of the users who will click on the logo have no attention to get to the landing page.

I'm not sure how much users are getting the app from the landing

[2019-08-19 20:20] moshfeu opened #592 "Validate channel is not contains '/'"
Currently, users put `/` in a channel and it cause the channel's url to be broken.
For example: putting `/moshfeu` in the linkedin channel to generate the link https://www.linkedin.com/in//moshfeu which is broken.

[2019-08-20 15:01] crysfel commented on #585
I think we need to also add a couple more links there and merge to master once the new landing page gets deployed.

* Logo - linking to home (https://codingcoach.io)
* Store - linking to the store we have (https://shop.spreadshirt.com/coding-coach)
* Blog - linking to the blog (https://codingcoach.io/blog)
* About - linking to the blog (https://codingcoach.io/about)

[2019-08-20 15:04] crysfel commented on #584
I think it would be better to have an slug instead of the name, something like:

[code]

That slug should come from the server as well, maybe the profile should require to be logged in, else it should redirect users to the login page.

[2019-08-20 17:02] crysfel opened #595 "Disable the email field when updating the mentor profile"
**Describe the bug**
Based on this conversation https://github.com/Coding-Coach/find-a-mentor-api/issues/63, we need to disable the email field in the mentor's form.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Click on 'Become a mentor' or 'Edit your profile'
3. Email address at the top is enabled

**Expected behavior**
Users should not be able to edit their email address, the f

[2019-08-20 20:02] ramirozap commented on #583
I found some time to work on this :)
`AutoComplete.js` converted to hooks

[2019-08-21 14:02] kingingcole commented on #585
Hey Mosh, I already made the link back to codingcoach.io in my PR to this, should I change it to mentors.codingcoach.io?

[2019-08-21 14:20] #595 closed

[2019-08-21 15:55] crysfel opened #598 "Add support for pagination (infinite scroller)"
**Is your feature request related to a problem? Please describe.**
The API now supports pagination when returning the mentors, by default us returning 20 records at the time. Therefore we now need to pull the data from the API when scrolling down, ideally we should load the next page when the user is about to reach the end of the page.

**Describe the solution you'd like**
Infinite scrolling pagin

[2019-08-22 02:32] moshfeu commented on #585
I think so :) but I'm not sure we all agree about that..

[2019-08-22 02:36] #592 closed

[2019-08-22 02:43] moshfeu commented on #584
I agree about the slug.
I'm not sure what do you mean by `should come from the server` though.
Currently we're hosting the client with Github pages which not allow url rewrite. In order to using this slug we'll have to replace the hosting service.
Although we're planning to do this soon, it's out of the task's scope.

[2019-08-22 03:15] crysfel commented on #585
for now is ok, once I deploy the new landing page I'm going to create another GH issue to add the new links.

[2019-08-22 03:25] crysfel commented on #584
I've created an issue to track this work: https://github.com/Coding-Coach/find-a-mentor-api/issues/73

I don't think this is high priority right now, but I'm going to leave it there.

What I mean is that the backend should generate a slug when a new user is created.

It works out of the box, the current landing page is using the `react-router` and GH resolves to the right URL. But let's worry abou

[2019-08-22 14:33] #573 closed

[2019-08-22 17:51] #585 closed

[2019-08-22 18:45] #583 closed

[2019-08-22 21:46] ramirozap opened #600 "Fix useEffect hooks on AutoComplete.js"
**Describe the bug**
AutoComplete.js useEffect hooks are not using properly memoized structures, this will lead to potential bugs like not showing the correct data

see comments on: https://github.com/Coding-Coach/find-a-mentor/pull/596

[2019-08-24 20:57] #584 closed

[2019-08-25 22:03] kingingcole opened #603 "Is this a full PWA?"
I have been using this platform for a while now and just realized that I've never been prompted to "Add this to home screen" even though I tried clearing cache again.
I moved over to index.js and the service worker was registered already.
Why then, isn't this installable?
Has anyone successfully installed this app to home screen?

[2019-08-26 15:45] moshfeu opened #605 "Clicking on a tag in mentor's card do nothing"
**Describe the bug**
When user clicks on a tag in a mentor's card nothing happening

**Expected behavior**
1. The technology filter should be the tag you just clicked
2. The filter should be reflected in the URL (technology=...)

[2019-08-27 07:52] #605 closed

[2019-08-27 11:30] #603 closed

[2019-08-27 11:41] ramirozap commented on #559
We need this ASAP, I will try to build a concept around React Context by the end of the week

[2019-08-27 12:03] moshfeu commented on #559
Thanks @ramirozap!
Please wait with the implementation because we need (and we'll during next week) to priorities tasks and avoid many conflicts especially for infrastructure tasks such this one.

[2019-08-29 21:55] brentmclark opened #611 "Add and configure Sentry"
**Is your feature request related to a problem? Please describe.**
We currently lack visibility into errors that occur on our site and rely on the goodwill of others to report these errors.  There are tools on the market that will automatically capture errors while providing enhanced workflows for resolving the bugs.  My favorite among these tools is {Sentry.io](https://sentry.io/welcome/); I've b

[2019-09-02 13:16] afmire877 commented on #611
I would like to take a shot at this problem. And Install and Config Sentry.io

[2019-09-05 16:01] kingingcole opened #618 "PWA name and short name"
After this app was made a PWA, I went ahead to open a PR that makes the main CodingCoach platform a PWA too. It was merged and after installing, I noticed on homepage that both apps (the mentor platform and landing page) both has same logo and name on home screen (as shown on image).
![Screenshot_20190905-170035](https://user-images.githubusercontent.com/43896019/64358659-64b50480-cff6-11e9-8743-b

[2019-09-07 22:06] moshfeu commented on #618
Honestly, I'm not sure about that..
Maybe "Mentors" instead of "Find a mentor"?

@crysfel, @emmawedekind, thoughts?

[2019-09-08 02:30] brentmclark commented on #559
@moshfeu Does the existence of [this card](https://github.com/Coding-Coach/find-a-mentor/projects/1#card-26011273) in the project mean that this issue can move forward safely?

[2019-09-08 03:37] moshfeu commented on #559
:) the project now is backlog, I'll create issues asap.

[2019-09-09 01:56] brentmclark commented on #559
Ohhhhh, ok thanks.  I'll wait for the new tasks to land before I press further on this.

[2019-09-09 13:42] gleb-kosteiko opened #621 "Сodingcoach lost my mentor's account"
A month ago I registered at Сodingcoach as a mentor. Here you can see my pull request - https://github.com/Coding-Coach/find-a-mentor/pull/552

It was successfully merged and I could observe myself on the mentor's page. Few weeks after that I also claimed my account there according the mail I got

But when I try to find myself there now I am not able to do that - the search don't find me. What hap

[2019-09-09 13:46] moshfeu commented on #621
Right here :) https://mentors.codingcoach.io/?name=Gleb+Kosteiko

[2019-09-09 13:52] gleb-kosteiko commented on #621
Hmm.. Now I see it too:) What did you do? I tried to find by name, country and language but could not see it in all cases

[2019-09-09 14:06] moshfeu commented on #621
Nothing.
Maybe you got cache somehow 🤷‍♂️

[2019-09-09 14:06] #621 closed

[2019-09-09 14:09] gleb-kosteiko commented on #621
Yeah, hope it was just my cache, thank you!

[2019-09-09 18:31] moshfeu commented on #611
Thanks @afmire877!
Brent already took it.
There will be more tasks soon. Stay tuned!

[2019-09-09 18:31] #611 closed

[2019-09-10 10:56] ashvinikumar opened #623 "Improve mentors card UI"
Improving the mentors card UI for example shadow of the card, removing the shadows from the avatar, and increasing box radius.

[2019-09-10 11:07] moshfeu opened #625 "Add a link to the Mentorship Guidelines in the top bar"
**Desktop**
![Screen Shot 2019-09-10 at 14 00 01](https://user-images.githubusercontent.com/3723951/64608432-4de62780-d3d3-11e9-8f22-ae049bdfadc2.png)

**Mobile**
![Screen Shot 2019-09-10 at 14 07 04](https://user-images.githubusercontent.com/3723951/64608882-4c692f00-d3d4-11e9-8a08-bd3c2d33112c.png)

Should link to: https://docs.google.com/document/d/1zKCxmIh0Sd4aWLiQncICOGm6uf38S0kJ0xb0qErNFVA/e

[2019-09-10 11:12] #623 closed

[2019-09-10 19:27] moshfeu opened #626 "Complete the tests"
Can start once #622 will merged

Flows:

- scroll to get more mentors
User / mentor flow
- register
- delete user
Mentor
- become a mentor
- edit details

### Subtasks
- [x] [Like / Unlike Mentor and Filter](https://github.com/Coding-Coach/find-a-mentor/issues/633)
- [x] Login
- [ ] Make sure that now the user can click on mentor's channel
- [ ] [logout](https://github.com/Coding-Coach/find-a-ment

[2019-09-10 19:35] moshfeu opened #627 "Implement Global state"
As discussed in #559, we need to implement a global state.
For now, we gonna use React Context.

[2019-09-10 19:42] moshfeu opened #628 "Allow admin to remove mentor"
This already implemented in the server.

**Endpoint**: `/users/:user._id`
**Method**: `DELETE`

https://api-staging.codingcoach.io/#/%2Fusers/delete_users__id_

~~✋blocked by https://github.com/Coding-Coach/find-a-mentor-api/issues/85~~

[2019-09-10 19:42] moshfeu opened #629 "Validate channels values are not URL"
Add a validation message to the marked fields so when mentors try to put their full channel url instead of only the id. For example: https://mobile.twitter.com/moshfeu instead of moshfeu

<img width="694" alt="Screen Shot 2019-09-10 at 22 44 21" src="https://user-images.githubusercontent.com/3723951/64645049-ab529680-d41c-11e9-8252-ecf8769f8c80.png">

[2019-09-10 21:02] #625 closed

[2019-09-11 02:34] brentmclark commented on #626
@moshfeu What sort of things do you want to see done with the tests?

[2019-09-11 04:21] moshfeu commented on #626
Thanks @brentmclark. I updated the issue.
We probably need to move some of the tests to unit / integration tests using jest (which already exists in the project).
Thoughts?

[2019-09-11 14:59] brentmclark commented on #626
@moshfeu I will have to take a look at each of these to get a sense of which testing technologies fit best for each.

Most of the Cypress folks I learn from have very similar things to say.  They used to be 90% unit tests and 10% integration, but with Cypress those numbers are nearly opposite (i.e. 90% integration; 10% unit).

The reason being that integration tests get you so much more confidence

[2019-09-11 15:11] moshfeu commented on #626
As much as I know, integrations tests taking much more build than unit tests.
So, my logic is to cover the main flows with integrations and the permutations that component can has, with unit tests.

[2019-09-11 16:58] jsjoeio opened #632 "Can't Remove Myself as a Mentor"
**Describe the bug**
I can't seem to find a way to remove myself as a mentor. I signed up when the site was just an MVP and I added myself to a JSON file.

I signed up with an account (I believe it's the same email address from when I originally signed up) but I can't figure out how to remove my profile.

Unfortunately, I don't have time to mentor anyone :( And I've had several people reach out in

[2019-09-11 17:03] moshfeu commented on #632
I hope it for good reasons :)
You can delete your user in the edit profile modal

![Capture+_2019-09-11-20-02-15](https://user-images.githubusercontent.com/3723951/64718549-207ea400-d4cf-11e9-8ac1-ab0e585214b1.png)
Let me know if it's working for you.

[2019-09-11 19:40] brentmclark commented on #626
For the onlookers, @moshfeu and I discussed this topic offline and concluded that although the build times *do* take a hit when performing integration tests we are cautiously optimistic that the added build time will stay within reasonable ranges.  Targetting under 5 minutes for this stage of the build; which should be very doable.

If things start to scale up faster than expected we will revisit

[2019-09-11 19:41] brentmclark commented on #626
Also, I am going to split this issue off into some subtasks so they can be assigned to all of the kind people who offered to help.

[2019-09-11 19:50] brentmclark opened #633 "Test Like/Unlike flows"
Using Cypress:

- Test what happens when a user "likes" a mentor
- Test what happens when a user removes their "like" from a mentor

Should include both the state of the like button (the heart red or not red) as well as how the `show favorites` filter behaves.

This one is being worked on by @BFrancour.

[2019-09-11 19:53] brentmclark opened #634 "Test Log In Flow"
Using Cypress, confirm that logging in does what is expected.

This one is being worked on by: @holuphisayor

[2019-09-11 20:36] moshfeu commented on #634
@holuphisayor I sent you an invitatioa, please confirm and let me know so I could assign it to you.

[2019-09-11 21:00] kingingcole commented on #629
I don't understand what needs to be done here.

[2019-09-11 22:04] holuphisayor commented on #634
@moshfeu confirmed.

[2019-09-11 23:35] jsjoeio commented on #632
Been focusing more on creating content so just don't have time to dedicate to a one-on-one relationship 😢 Also building a small community to help people at [dip.chat](https://dip.chat/) so I'd say it's for a good reason :) I will still continue to support by telling people about Coding Coach though!

Oh woah! Didn't see that 😅  And to my surprise, it worked! I wasn't sure if it would properly asso

[2019-09-11 23:35] #632 closed

[2019-09-12 04:31] #618 closed

[2019-09-12 04:35] moshfeu commented on #632
Sure :) One if the next features will be the mentor capacity so mentors could declare that they available just for questions and not only for one-on-one relationship. Maybe this will be more suitable for you. Anyway, we hope to see you soon.
Stay tuned :)

[2019-09-12 04:35] moshfeu commented on #634
All yours :)

[2019-09-12 04:41] moshfeu commented on #629
@kingingcole thanks. I updated the issue. Is it more clear now?

[2019-09-13 00:31] aretham opened #638 "Hello"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-14 18:12] moshfeu commented on #638
Hi @aretham,
Thanks for reaching out :)
In order to get help you can search for a mentor in our mentors site: https://mentors.codingcoach.io/ and you can filter mentors by technology. (https://mentors.codingcoach.io/?technology=python for example).
Good luck!

[2019-09-14 18:12] #638 closed

[2019-09-15 04:47] #629 closed

[2019-09-15 05:04] moshfeu opened #639 "Don't take auth0 name and avatar"
**The motivation**

Currently, when users register they get a default name derivative of their email and the avatar image is just acronyms of their name.

**The requirement**
Don't take those values from Auth0. Basically, it was better that the server will not take it but it's not possible right now

**The solution**
Skip it in the client. Meaning, when the name and the avatar meet the following c

[2019-09-15 09:40] moshfeu opened #640 "Test logout"
Using Cypress

- Verify that after user clicks on logout, the `localStorage` data with the user info cleared
- Verify that the user get redirect to auth0 (url contains auth0, not specific URL)

[2019-09-15 09:48] moshfeu commented on #633
Who's @BFrancour? Can't find him / her neither on Slack or GIthub

[2019-09-16 18:16] moshfeu commented on #559
The discussion closed for now. We're going with the context api.
Thank you all.

[2019-09-16 18:16] #559 closed

[2019-09-16 18:29] mnttnm opened #642 "Page navigation doesn't work properly once you go to mentor profile details page"
**Description**
When the user checks a particular mentor's profile and wants to go back to the original mentor-listing page, it doesn't work.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'https://mentors.codingcoach.io'
2. Click on the avatar of any mentor's card for details
3. You will be navigated to the profile of the mentor which you have clicked and the browser's URL will cha

[2019-09-16 19:01] moshfeu commented on #642
Thank you for reporting this!

[2019-09-17 20:28] TheGallery commented on #639
I finally had some time to look at this and I have a couple of questions regarding the name field. Just to clarify, do we want to:
1. Require the user to fill the field if it matches the first part of the email address (before @) and also...
2. Change the validation function so that a space is required in this field?

[2019-09-18 09:14] nero2009 commented on #642
This is not limited to mentors profile only, same thing happens for the country and technology tags
### Screenshots
1.  on click on the `a11y` tag

![errrorment](https://user-images.githubusercontent.com/29065069/65134451-38d54e00-d9fc-11e9-9f09-b432bbc86838.PNG)

2. click back

![errment2](https://user-images.githubusercontent.com/29065069/65134962-10018880-d9fd-11e9-8ff9-3f3c1c5e8a2c.PNG)

[2019-09-18 09:54] mnttnm commented on #642
@nero2009 seems to be correct. Looks like it is not working for any of the filter options.

[2019-09-18 11:40] moshfeu commented on #639
About the name: The validation should be that name must includes space, therefore, section 1 is not necessary.

 About the avatar, can you show, please the avatar's URL you're talking about? Maybe we could find out how to identify the default image..
If it will not work we could by pass it in more ugly way..

[2019-09-19 11:22] #642 closed

[2019-09-19 15:00] TheGallery commented on #639
Yes of course. I've set up a custom gravatar for my account and this is the URL that it uses: https://s.gravatar.com/avatar/1654cd9be4cf5efbd1ece36d3e9cc62b?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fsi.png

[2019-09-19 17:57] brentmclark commented on #633
I apparently can't copy/paste...

@BFrancoeur is the correct username.

[2019-09-20 11:11] shayanypn commented on #413
can I pick this one?

[2019-09-20 15:51] moshfeu commented on #413
Yes please

[2019-09-20 15:59] moshfeu opened #646 "Filers fields are visible while app is loading"
The filters shouldn't be visible until the user clicks on the arrow button next to the mentors count.

![Capture+_2019-09-20-18-55-11](https://user-images.githubusercontent.com/3723951/65341323-c372a480-dbd8-11e9-9043-a22a744d04a7.png)

[2019-09-20 16:02] moshfeu commented on #413
The ui is not updated but I'm sure you can handle it :)

[2019-09-20 16:13] ramirozap commented on #646
On mobile?

[2019-09-20 21:29] Guin- commented on #634
does this one still need to be done? if yes, i can do it : )

[2019-09-21 17:23] moshfeu commented on #646
Oh, yes. Sorry.

[2019-09-22 04:36] moshfeu commented on #639
We can start with the name.
About the avatar, in most of the cases, the auth0 avatar is the default, so maybe it worth to not take the auth0 anyway, and in the worst case, the mentor will need to go to Gravatar and take the URL from there.

What do you think?

[2019-09-22 10:44] mnttnm commented on #646
Hi @moshfeu
I would like to work on this.

[2019-09-22 14:45] #646 closed

[2019-09-22 15:20] TheGallery commented on #639
I was thinking the same. I am not sure what the actual stats are but I assume not a lot of people use gravatar for their avatars, they use custom ones instead. We're sticking to the original plan then!

[2019-09-22 15:50] moshfeu commented on #639
:) Yes. Thanks!

[2019-09-24 01:33] ramirozap opened #652 "Favorites flow is broken."
**Describe the bug**
Favorites flow is not working, the user is not able to filter by previously hearted mentors.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app.
2. Click on any mentor heart.
3. Toggle MY FAVORITES slider.
4. See how everything remains the same.

**Expected behavior**
The user should be able to see their favorites mentors only.

[2019-09-24 13:20] mjmaix commented on #137
It's still invalid for me

[2019-09-24 14:34] moshfeu commented on #137
@mjmaix, Thanks! We'll fix it soon

[2019-09-25 18:31] moshfeu commented on #598
@crysfel let's close this one until we'll have the idea of how to do this right.

[2019-09-28 09:30] mnttnm commented on #652
The **help wanted** label should be removed from this.

[2019-09-28 17:45] moshfeu commented on #652
@mnttnm thanks. Done.

[2019-09-29 06:13] moshfeu commented on #652
Actually, I just checked it and it seems to work fine for me.

[2019-09-29 10:14] ramirozap commented on #652
Yes, it works on the current master, but will not work after the filters to context gets merged, I should've point that on the issue.
I didn't solved in the filters to context PR to not make it bigger

[2019-10-02 15:12] moshfeu commented on #634
@Guin- thanks!

[2019-10-02 15:19] moshfeu commented on #634
We discussed about that offline. We know that there is the "official" approach https://www.google.com/amp/s/auth0.com/blog/amp/end-to-end-testing-with-cypress-and-auth0/ but for now, we think that test it with actually login page will be good enough for now.
@brentmclark, right?

[2019-10-02 15:55] brentmclark commented on #634
That's the idea @moshfeu, yes.  For all of the value it adds, Cypress has a long-standing and [unresolved issue with cookies](https://github.com/cypress-io/cypress/issues/781).   Having dealt with this issue recently at work after following along with their official approach, I strongly suggest avoiding their suggestion due to the cookie clearing issue.  They may fix it someday, but that issue has

[2019-10-02 20:45] #600 closed

[2019-10-03 07:58] #639 closed

[2019-10-04 04:58] moshfeu opened #654 "Permalinks are not working"
**Describe the bug**
Links with querystring getting redirect to homepage.
For example, from  to https://mentors.codingcoach.io/?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/?technology=kotlin

**Expected behavior**
The url will remain the same and only kotlin mentors will show up.

**Actual behavior**
The url changed to https://mentors.codingcoach.io/

[2019-10-04 04:59] #654 closed

[2019-10-04 07:32] janwilmans commented on #654
verified, working ok now, tested in normal and incognito mode

[2019-10-04 08:15] moshfeu commented on #654
Thanks!

[2019-10-04 15:16] #652 closed

[2019-10-09 01:39] brentmclark commented on #634
We might have our wires crossed here.  @holuphisayor is actively working on this still; he was blocked by the cookie clearing issue, but as of yesterday we found a path forward.  @Guin- are you also working on this PR?

[2019-10-09 01:42] brentmclark commented on #626
@moshfeu yep!  Thanks for the clarification!

[2019-10-09 01:44] brentmclark commented on #626
@moshfeu for `register flow` I presume you mean the flow for registering to become a mentor, *not* the flow for creating an account.  Correct?

[2019-10-09 01:46] brentmclark commented on #626
Lastly, a quick update.  Most of these issues are blocked until we find a deterministic way to test the login functionality.  We're close, which should open up the rest of these.  Thanks for your patience with me 😬

[2019-10-09 09:34] joranquinten opened #655 "Duplicate mentor entry"
**Describe the bug**
There are two entries of the same mentor published on the website.

**To Reproduce**
1. Go to 'Mentors'
2. Search by name 'Joran Quinten'
4. You'll see two entries, one of which is attached to my profile.

**Expected behavior**
Should only be one available entry

**Additional context**
It might have something to do with that the first profile created was on the first iteration

[2019-10-09 14:50] Guin- commented on #634
@brentmclark @moshfeu no worries, you can unassign me!

[2019-10-09 19:28] moshfeu commented on #626
Yes :)
Thank you for all the work!

[2019-10-09 19:29] moshfeu commented on #634
Sorry, I thought that he doesn't work it it 😬

[2019-10-09 19:40] moshfeu commented on #655
I guess that the not wanted profile is the old one which you can delete? Did you registered with the same email? If yes, it's weird. If not, please register also with the old email, then you will be able to delete the user.

[2019-10-11 08:36] joranquinten commented on #655
If the easy fix is to delete the old profile from the BE, then please do, both accounts have the same email address filled in :)

[2019-10-19 03:24] brentmclark commented on #633
@BFrancoeur how is everything going with this issue?  Do you have any questions?  Are you blocked by anything?

[2019-10-21 19:33] #634 closed

[2019-10-21 20:27] moshfeu commented on #655
Done. Thanks!

[2019-10-21 20:27] #655 closed

[2019-10-30 23:49] moshfeu opened #659 "Use the API to store and get favorites"
Implement the client side of:

https://github.com/Coding-Coach/find-a-mentor-api/issues/106
https://github.com/Coding-Coach/find-a-mentor-api/issues/108

Basically, currently, we store the favorites in the browser (`localStorage`).
We want to store the list in the db so user could access the list from anywhere.

Also, when user is not loggedin, there will be a tooltip that explain that click on th

[2019-11-03 04:05] crysfel commented on #628
This is no longer blocked, https://github.com/Coding-Coach/find-a-mentor-api/pull/88 added the new email to inform the user their account has been remomed

[2019-11-04 14:04] #659 closed

[2019-11-12 15:52] mnttnm opened #661 "User's current favorite mentor list migration from local storage to server"
Changes that were done as part of #660 didn't account for the existing list of mentors in the user's local storage.

We should check for the existing list of fav. mentors for the user and upload the same to the server

[2019-11-16 16:20] shivenigma commented on #628
This needs to be implemented in UI?

[2019-11-16 17:00] moshfeu commented on #628
@shivenigma, Yes actually. Want to grab this?

[2019-11-19 21:27] moshfeu opened #663 "Mentor availability"
Add a switch in the mentor **(only for mentors)** dropdown to allow a mentor to set their availability on / off.
Something like this: (colored is true)

<img width="272" alt="Screen Shot 2019-11-19 at 23 09 38" src="https://user-images.githubusercontent.com/3723951/69187291-00004500-0b23-11ea-8cb0-b3174da42dfd.png">

When mentor switch off, we will show them a confirmation message (can use [`confi

[2019-11-20 02:49] mnttnm commented on #663
I would like to work on this.

[2019-11-20 04:18] moshfeu commented on #663
Thank you!

[2019-11-21 22:05] firsi commented on #663
Hi @moshfeu , can I work on this?

[2019-11-21 22:31] moshfeu commented on #663
@firsi thank you! The issue already assigned to @mnttnm.
We'll publish the roadmap soon so there will be more tasks. Stay tuned 😀

[2019-12-02 15:46] #633 closed

[2019-12-05 01:23] #661 closed

[2019-12-05 01:24] mnttnm commented on #661
Completed with #662

[2019-12-08 16:51] shivenigma commented on #628
@moshfeu Sorry, our frontend is in react sadly I am Angular and JS guy in the frontend.

[2019-12-19 01:13] djtlgucla opened #667 "Can I use the gitpod to create a mentor ship program for a group of students and teachers?"
Can I use the gitpod to create a mentor ship program for a group of students and teachers?

[2019-12-19 05:39] #663 closed

[2019-12-19 05:51] moshfeu commented on #667
Hi @djtlgucla. Really glad you like the project :)
You can use the code in this repository (the license is MIT), as long as you use your own brand of course and not CodingCoach.
But, you can't use the gitpod as is because it's using CodingCoach staging server, so you need to create your own server.
The server's code is also open source under https://github.com/Coding-Coach/find-a-mentor-api .

[2019-12-19 09:59] djtlgucla commented on #667
Thanks!

[2019-12-19 09:59] #667 closed

[2019-12-19 10:01] moshfeu commented on #667
You're welcome :)

[2020-01-13 18:02] moshfeu commented on #627
We basically did this. We'll create a new one if needed.

[2020-01-13 18:02] #627 closed

[2020-01-13 18:04] moshfeu commented on #626
Closing this. Will create new issues for uncovered scenarios.

[2020-01-13 18:04] #626 closed

[2020-01-13 18:04] #598 closed

[2020-01-13 18:07] moshfeu commented on #413
Closing this for now. Will re-create it if there will be demand

[2020-01-13 18:07] #413 closed

[2020-01-15 12:53] Rohithgilla12 commented on #628
Hey I can grab this up, just need a little bit of help!
Thanks.

[2020-01-15 16:06] moshfeu commented on #628
Actually I thought about once again and I'm not how the UI will look.
I'll come to conclusion and update the issue.
Thanks!

[2020-01-16 03:48] Rohithgilla12 commented on #628
Yeah sure  👍

[2020-01-18 20:56] moshfeu commented on #628
Ok.
It's not a common scenario so there is no need to add UI for this, we'll handle it directly on the server.
Sorry for your time.
I'm closing it now.

[2020-01-18 20:56] #628 closed

[2020-01-18 20:58] moshfeu opened #669 "Integrate react-router to support the member area."
There will be 2 routes

- default -> / (root) `<App />` - existing component
- `me` -> `<Me />` - **Only if logged in as mentor** - new component which will contains only router [something like](https://stackoverflow.com/a/49321289/863110)
- |__ `home` - the home view - currently will just present "hello home"

[2020-01-26 19:35] #669 closed

[2020-02-02 05:25] moshfeu opened #671 "<Me /> component"
[`<Me />`](https://github.com/Coding-Coach/find-a-mentor/blob/master/src/components/Me/Me.js)  is the main wrapper component for "my area".

This task is to implement the layout (desktop + mobile) including:

- [ ] header + logo + title
- [ ] bottom bar menu - will contains only "Home" and "Mentors" (which will lead to the mentors site)

### Designs (Images are links)

**Tablet + Desktop:**

**In

[2020-02-02 06:38] Rohithgilla12 commented on #671
Can I take this up

[2020-02-02 06:56] moshfeu commented on #671
Thanks!
Let me know how it goes and if everything is clear.

[2020-02-02 14:40] Rohithgilla12 commented on #671
<img width="1437" alt="Screenshot 2020-02-02 20 09 36" src="https://user-images.githubusercontent.com/19389850/73609898-fe113280-45f7-11ea-8a38-2d275c664e63.png">
<img width="1432" alt="Screenshot 2020-02-02 20 09 23" src="https://user-images.githubusercontent.com/19389850/73609899-fea9c900-45f7-11ea-9fe8-481be2783db2.png">

Not able to create account or login.
Please help.

[2020-02-02 15:42] moshfeu commented on #671
I sent you a message on Slack

[2020-02-03 02:35] vmalvaro commented on #671
Happy to help if @Rohithgilla12 can't do it.

[2020-02-03 15:36] moshfeu commented on #671
Thanks @vmalvaro. There will be more features soon, stay tuned.

[2020-02-04 17:47] crysfel commented on #671
Please ping me on slack with your email so I can invite you to invision and you can access all assets, colors, fonts and all you need to get the right styles

<img width="1547" alt="Screen Shot 2020-02-04 at 11 47 09 AM" src="https://user-images.githubusercontent.com/219207/73771508-2148f880-4744-11ea-8e49-6cafd90c3096.png">

Also, don't forget to work on the empty state

[2020-02-06 12:33] moshfeu opened #673 "Allow to mentors to upload their avatar"
Currently, mentors can supply a URL to an image.

**Before you start, checkout from upload-avatar branch**

- [x] Replace avatar's `input[type=text]` with `input[type=file]`.
- [x] Use the API below to upload the image and get its url
- [x] Make sure the required validation is working and remove the URL validation (it generated in the server so we can count on this)

----------------
Upload proces

[2020-02-06 23:15] vmalvaro commented on #673
Hi @moshfeu, happy to help with this one.

[2020-02-07 05:40] moshfeu commented on #673
Thanks @vmalvaro ! @Nkemjiks asked on Slack, but don't worry, there are more features coming :)

[2020-02-07 16:23] Nkemjiks commented on #673
@crysfel What kind of data am i sending when making this api request? The docs didn't mention how i can construct the data.

[2020-02-20 11:53] madten opened #679 "Adding tags for popular Apache Spark"
**Is your feature request related to a problem? Please describe.**
At this point there two Apache projects related tags:

- `apache-ecosystem`
- `kafka`

Considering how popular certain Apache tools, and how diverse ecosystem is, it might be nice to have specific tags for the most commonly used projects.

**Describe the solution you'd like**
It would be nice to have at least these:

[code]
and `ka

[2020-02-20 14:13] moshfeu commented on #679
Sounds good to me

[2020-02-22 19:46] moshfeu commented on #679
@madten, want to open PR?

[2020-02-23 17:32] madten commented on #679
I'll be happy to @moshfeu.

[2020-02-23 22:59] #671 closed

[2020-02-24 09:17] #673 closed

[2020-02-24 09:18] #679 closed

[2020-02-29 18:34] moshfeu opened #684 "<Card /> component"
The card is a generic composition component which will be container for lists and info in the member area.

An example:

<a href="https://codingcoach.invisionapp.com/prototype/coding-coach-app-ck30g80zl0049j901a2gfsqbf/play/d1cf0c07?linkshare=urlcopied&v=Qqv%2BCuo08%2Bb%2FTJMllfVbZw%3D%3D" target="_blank"><img width="277" alt="Screen Shot" src="https://user-images.githubusercontent.com/3723951/756

[2020-02-29 19:25] andrecrts commented on #684
I want to take it

[2020-02-29 19:28] moshfeu commented on #684
Thank you!
All yours.

[2020-02-29 20:35] moshfeu opened #685 "<Avatar /> component"
A [`<Card />`](https://github.com/Coding-Coach/find-a-mentor/issues/684) that contains the following components

- [ ] Avatar image. If the user has no avatar, show [empty state](https://codingcoach.invisionapp.com/prototype/coding-coach-app-ck30g80zl0049j901a2gfsqbf/play/8a6fc0ba?v=Qqv%2BCuo08%2Bb%2FTJMllfVbZw%3D%3D&linkshare=urlcopied)

- [ ] Mentor's name and title - empty if not exist. (For th

[2020-02-29 20:36] moshfeu opened #686 "<Modal /> component"
Will contains `x` button and `close` button to close

- The modal will be full screen
- `x` button and bottom bar (which will contains the buttons) are static
- The modal's content is scrollable

props:

 - [ ] `onSave` - [optional] function (callback)
 - [ ] `onClose` - [optional] function (callback)
 - [ ] `title` - [optional] string

**Invision**
[mobile](https://codingcoach.invisionapp.com/pro

[2020-02-29 20:53] moshfeu commented on #685
@crysfel I can't export the empty state icon as SVG.
Can you attach it?

[2020-02-29 22:32] moshfeu opened #687 "<Profile /> component"
A [`<Card />`](https://github.com/Coding-Coach/find-a-mentor/blob/712338b492fe10ab3f81441873d220686bf39cee/src/Me/components/Card/index.js) that contains the following components

- email
- languages
- country
- title
- tags
- available / not available for mentoring
- description

Should display an "edit" link (see `<Card />` component spec)

<a href="https://codingcoach.invisionapp.com/prototype/

[2020-03-01 05:36] Rohithgilla12 commented on #687
After #684 is merged, can I work on this.

[2020-03-01 05:49] moshfeu commented on #687
Thanks @Rohithgilla12 😀
Let's give other people the chance to contribute.

[2020-03-02 19:12] crysfel commented on #685
Here's the SVG file:

[icon-camera.svg.zip](https://github.com/Coding-Coach/find-a-mentor/files/4277402/icon-camera.svg.zip)

@moshfeu also, when the current user clicks on the avatar, we need to open the file explorer dialog to allow them to upload a new image. I guess that will be a different task, right? (Even a different component, one that uses the avatar)

[2020-03-02 19:19] moshfeu commented on #685
Yes, exactly. I'm trying to define the tasks as thin as I can (and make sense of course)

[2020-03-02 19:24] moshfeu commented on #685
This will be part of another task. I'm not sure there is a need to other component. The <Avatar /> is basically the whole card, not just the image (with the upload option)

[2020-03-14 22:15] #684 closed

[2020-03-15 22:47] moshfeu commented on #687
@crysfel can you attach the icons? (Or tell me how to do it)

[2020-03-17 16:52] crysfel commented on #687
You can download all icons from here: https://www.dropbox.com/s/ihyg2h950tmwtsh/Icons%20v1.0.1%202.zip?dl=0

[2020-03-18 14:32] Guin- commented on #686
would love to take this if there are no other first time contributors

[2020-03-18 16:16] moshfeu commented on #686
Thank you @Guin-!
Let's wait just a bit, ok?

[2020-03-18 20:12] Rohithgilla12 commented on #685
Would love to take this if there are no other first time contributors.
As it goes, first time contributors. are given more priority 🙌🏻.

[2020-03-18 20:13] moshfeu commented on #685
Thanks 😀
Let's wait one more day.

[2020-03-18 22:18] Gattalraouf commented on #685
I would love to cover this one if possible 😅. I hope I am not late.

[2020-03-19 22:34] moshfeu commented on #685
Thanks @Gattalraouf, all yours.
@Rohithgilla12 there will be many more tasks.

[2020-03-19 22:36] moshfeu commented on #686
Thanks @Guin- , all yours! Let me know if you need something.

[2020-03-20 14:27] Guin- commented on #686
Awesome! Will let you know if i have questions 😄

[2020-03-21 16:00] Gattalraouf commented on #685
Thanks @moshfeu, I made a primary PR.
I left a question there, hopefully you'll check it asap and let me know if I need to change anything.

[2020-03-21 20:30] moshfeu commented on #640
@brentmclark what we should do with it? Will you have some time to implement it? Or should I close it for now and open a new one later?

[2020-03-22 19:50] brentmclark commented on #640
I think it's safe to close this for now.  I will not have time to implement any time soon, and the value is pretty low.

Thank you for asking @moshfeu.

[2020-03-22 19:50] #640 closed

[2020-03-24 07:06] moshfeu commented on #687
Hi @rbompiani, is there anything I can help with?

[2020-03-24 17:36] rbompiani commented on #687
Hi @moshfeu , Sorry I've been missing for a bit - this virus has upended my world.

A few questions:
1. Is the intent to build the <Profile /> component by nesting the existing <Card />? The <Card /> component seems to return a bunch of things that the <Profile /> Component doesn't need (unless I'm misreading it)

2. Where do you want the <Profile /> component to exist in the app? Is it in the mem

[2020-03-26 16:30] #686 closed

[2020-03-28 20:16] #685 closed

[2020-03-30 17:27] #687 closed

[2020-03-31 18:55] moshfeu opened #696 "<EditMentorDetails /> component"
A [`<Modal />`](https://github.com/Coding-Coach/find-a-mentor/blob/339e0e3d38f981ebd915ad2afed490702615ed23/src/stories/modal.stories.js#L35) that will shows up when user clicks on the `Edit` link in the _Profile_ section

https://github.com/Coding-Coach/find-a-mentor/blob/555695b28a42282506dcc62e512d2deadae4d12a/src/Me/Profile/Profile.js#L46

Contains the following fields:

- Full name - input
-

[2020-03-31 19:09] moshfeu opened #697 "Basic Form components"
In order to make our code as thin and reusable as possible, we need to create from component so we could use them anywhere.

We also want to present them in our storybook.

This is the list of the components

### Basic

- input
- textarea
- select (probably should be combined with tags)

### Button

**Skins**
- primary
- secondary

### Functionality
- tags

Can inspired by https://github.com/Codin

[2020-04-02 22:01] Guin- commented on #697
@moshfeu Can i take this if there are no first time contributors who want it?

[2020-04-02 22:10] cluk3 commented on #697
I'd like to work on this, I'm a first timer 😸
@Guin- I'm willing to do some remote pair programming in case you're interested!

[2020-04-02 22:53] moshfeu commented on #697
Thank you both!
This is actually a great idea. Let me know how it goes.

[2020-04-03 18:40] crysfel opened #699 "Style issues in new design"
**Describe the bug**
First of all, I'd like to thank everyone who has contributed to this project! The new design is getting shape and I feel so proud of y'all!

There are a few improvements we still need to do, these are small issue we can quickly fix.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Open the member's area `https://mentors.codingcoach.io/me/home`

**Expected behavio

[2020-04-03 20:50] rachelwong commented on #699
I'd like to give it a try if it is just style changes (css?). I have not contributed open-source before, can I ask for help?

[2020-04-03 20:56] Nkemjiks commented on #699
@rachelwong Yes, it's just css changes. You can use this link as a guide https://codeburst.io/a-step-by-step-guide-to-making-your-first-github-contribution-5302260a2940. You can always reach out if you need help

[2020-04-03 21:12] crysfel commented on #699
@rachelwong all yours!! feel free to reach out to @Nkemjiks or me if you need assistance, thanks!

[2020-04-04 00:19] rachelwong commented on #699
@Nkemjiks @crysfel thank you so so much! I'll do my best and thank you also for that link, so handy!

[2020-04-04 02:00] rachelwong commented on #699
@Nkemjiks @crysfel Hello! I feel a little confused. I was wondering what's the time limit in getting a ticket fixed please? So worried :(

[2020-04-04 03:37] Nkemjiks commented on #699
@rachelwong There is usually no timeline but I would say as soon as you can. Of course you need to get acquainted with the codebase so it will surely take you a while

[2020-04-04 06:20] rachelwong commented on #699
@Nkemjiks @crysfel With so much generous help and patience from folks in the CodingCoach slack channel, I made my first ever PR.

**But I need to ask for forgiveness:** I think my formatting (maybe Prettier?) caused changes to 33 files, when the changes should be around 5 files instead. Those five are specified in the notes section of my PR. I'm responsive on the channel (I'm @Rach), I would love

[2020-04-05 17:29] crysfel commented on #699
Thank for contributing @rachelwong! We don't have specific deadlines, so don't get stress about it.

[2020-04-13 21:13] #697 closed

[2020-04-15 18:12] codeanit opened #703 "Mentors calendar"
**Is your feature request related to a problem? Please describe.**
The only option right now is either mentor will take new mentee or not.
If there could be some sort of calendar to list out the availability then it would be great.
A notification mechanism could be helpful based on this scheduled event for both parties.

**Describe the solution you'd like**
Mentors get a calendar application.
Fill

[2020-04-15 18:19] codeanit opened #704 "Video conferencing platform"
**Is your feature request related to a problem? Please describe.**
There is always an issue when doing mentoring sessions via many different platforms.
If there could be a video conferencing platform built in the site then it would be super helpful to do the session here.

**Describe the solution you'd like**
I have found https://jitsi.org very much helpful in this regards and its open sourced.
An

[2020-04-16 21:53] moshfeu commented on #703
Great idea :)
Unfortunately, we don't have the capacity to develop it.
We're working on the current roadmap so we hope it could be added in the next roadmap.

[2020-04-16 21:57] moshfeu commented on #704
Same as #703 :)
It is also a great idea and maybe it will be easier to implement than #703 but we don't have even more basic features.
Jisti looks like very nice tool, thanks for the introduction.

[2020-04-17 05:31] #699 closed

[2020-04-17 06:51] codeanit commented on #703
@moshfeu I don't see any issues for the road map. It would be easier for user to pick them up if there would be open issues.

I believe this product has grown much than I looked at it sometime back. A product owners group will be much needed to for such tasks for better open source collaboration.

I would like to contribute to implement Calender feature, and probably it could be integrated later.

[2020-04-17 06:52] codeanit commented on #704
@moshfeu Please assign this issue to me.

I will implement some prototypes which can be reviewed and integrated later.

Thank you.

[2020-04-17 12:26] moshfeu commented on #703
We create a bulk of issues along the progress so it will be easier to manage. We almost finished the first phase and we'll create new issues for the second phase.

This is, indeed a very important feature.
Thank you for your willing to contribute! Please, go ahdea. Just remember that we can't gurentee how / when this feature will be included in the product.

[2020-04-17 12:26] moshfeu commented on #704
Thank you :)

[2020-04-17 12:46] pandaa880 commented on #696
I would like to work on this, if this component needs to be developed.

[2020-04-17 13:03] codeanit opened #706 "Add a web page for Mentorship Guidelines"
**Is your feature request related to a problem? Please describe.**
The link on the page seems to redirect to Google Document, which I personally think is not needed for a simple static content like this.

**Describe the solution you'd like**
Make a page for this in the system.

.md file would be easy to make https://www.gatsbyjs.org/docs/adding-markdown-pages considering the content.

But a HTML p

[2020-04-17 13:05] moshfeu commented on #696
That was fast :) Thanks!
What is your esimation time for that?
I'm asking because it's the last task in the release, and I would be happy to complete it fast so I was thinking to take it. But I'll be happy you to take it! (If you have time)

[2020-04-17 13:09] moshfeu commented on #706
Thanks!
It's a legacy. The file created before this app. Also it lets content people with no account on Github to contribute. I'm not sure if it worth to change for now.
Let's see if other people has an opnion about it.

[2020-04-17 13:27] pandaa880 commented on #696
Yes, I have time. I am just going through the code. I can finish it in about half day. But if release is near then it is fine for me. You can complete it sooner.

[2020-04-17 13:43] moshfeu commented on #696
Half a day (or even few days) is perfectly fine :)
Don't forget to follow the [guide](https://github.com/Coding-Coach/find-a-mentor/blob/master/CONTRIBUTING.md)

[2020-04-17 14:20] pandaa880 commented on #696
Thank you so much. I am excited because this will be my first contribution.

[2020-04-17 14:40] moshfeu commented on #696
👏
[Let me know](https://coding-coach.slack.com/team/UFL4N8ETE) if I can assist. (I'll be offline during Saturday but before / after).

[2020-04-19 15:57] jakerobers opened #707 "How to remove myself from the mentor list?"
I am looking to remove myself from the list of mentors on your website. My schedule has become a little busy, and am unable to contribute as much time as I used to.

Previously, we created a pull request to be added to the list. However I am unable to find this list. I think you mentioned that this list was moved to a database.

[2020-04-19 16:04] moshfeu commented on #707
It was long time ago :)

#632

Also, you can keep your account but mark yourself as unavailable for new mentees. When you want to comeback you just set it back.

![Screen Shot 2020-04-19 at 19 04 29](https://user-images.githubusercontent.com/3723951/79692939-a5554b80-8270-11ea-86aa-89b4d18192e3.png)

[2020-04-19 16:17] jakerobers commented on #707
Thank you!

[2020-04-19 16:17] #707 closed

[2020-04-19 16:17] jakerobers commented on #707
Thanks!

On Sun, Apr 19, 2020, at 11:05 AM, Mosh Feu wrote:

[2020-04-19 16:18] moshfeu commented on #707
You're welcome. Hope to see you again soon 😀

[2020-05-10 05:31] #696 closed

[2020-05-10 07:22] moshfeu opened #710 "Allow mentors to delete their account"
Allow mentors to delete their account from the "update mentor" modal.

Create a new "danger" button and use it for the delete action.

Show a `confirm` message to make sure the user wants to delete the account.

Delete should also:

- Delete their account on auth0
- Clean the storage from their info

[2020-05-10 08:12] pandaa880 commented on #696
Thanks for the opportunity. Feels good to know that my first pull request is accepted.

[2020-05-10 08:42] moshfeu commented on #696
You should feel good, you did great 😀

[2020-05-10 17:25] #710 closed

[2020-06-15 21:31] dreamingechoes opened #713 "How to remove myself from the mentor list?"
Hi!

I know that this issue has been opened a few times before, but I think that my case it's a little different.

A long time ago, I created a pull request to add my info to the old `mentors.json` file: https://github.com/Coding-Coach/find-a-mentor/pull/434. The thing is that on that pull request, I've set the id to a different email account to the one I used later on the creation of an account t

[2020-06-16 04:26] moshfeu commented on #713
No problem. Please send a confirmation email **using this account** to admin@codingcoach.io and we'll remove this account.

[2020-06-16 07:24] dreamingechoes commented on #713
Thank you very much @moshfeu! I've just sent an email for this, I´ll close the issue!

[2020-06-16 07:24] #713 closed

[2020-06-20 04:00] mayank922 commented on #706
hey, how can i contribute to this?

[2020-06-20 18:13] #706 closed

[2020-07-23 15:28] crysfel opened #718 "Close icon should use an SVG"
**Describe the bug**
The modal close button is an `X`, but it should be an svg image instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/me/home
2. Click on 'Edit' profile
4. See close icon

**Expected behavior**
Should be an svg icon:

[icon-close.svg.zip](https://github.com/Coding-Coach/find-a-mentor/files/4967223/icon-close.svg.zip)

**Screenshots

[2020-07-23 15:47] crysfel opened #719 "Title on profile card should be `My Profile`"
**Describe the bug**
Based on the user research we did, the title should be `My Profile` this little change in the language make it A LOT more easy to understand.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/me/home
3. Scroll down to the profile card
4. See title error

**Expected behavior**
Title should be `My Profile`

**Screenshots**
<img width="363

[2020-07-23 15:53] crysfel opened #720 "Countries and languages should show the full name"
**Describe the bug**
Countries and languages should be displayed in full, right now we are only showing the codes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/me/home
1. Scroll down to Profile
1. See error

**Expected behavior**
We are showing country and language codes, we should display the whole name.

**Screenshots**
<img width="361" alt="Screen S

[2020-07-24 07:16] Rohithgilla12 commented on #720
Hey, can I take it up!

[2020-07-24 20:15] crysfel commented on #720
All yours @Rohithgilla12, thanks!

[2020-07-26 14:50] Rohithgilla12 commented on #720
Hey, @crysfel hope you are doing great.
I have created a PR, feel free to look when you get time.
Thanks

[2020-07-30 16:30] #720 closed

[2020-07-30 20:09] #719 closed

[2020-07-30 20:41] crysfel opened #725 "Allow members to become mentors"
## Description
We want to create a new workflow where members can become mentors using the new design.

## AC
1. Add new container for members that are not mentors yet
1. Add illustration and text provided
1. Show a call to action button to start the process

<img width="353" alt="Screen Shot 2020-07-30 at 3 09 12 PM" src="https://user-images.githubusercontent.com/219207/88972393-10082100-d27b-11e

[2020-08-01 19:14] OmarMoataz commented on #718
Can I take this?

[2020-08-20 16:37] cristianocasm opened #727 "LinkedIn url doesn't accept special characters"
**Describe the bug**
My LI usernames **cristiano-mendonça** and **cristiano-mendon%C3%A7a** are not acceptable by the platform.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/me/home (being logged in)
2. Fill the LinkedIn field with special characters such as "-" or "ç"
3. Save it
4. See error (as in the Screenshots section)

**Expected behavior**
Profil

[2020-08-20 18:36] th3c0d3br34ker commented on #727
"-" is working, it must be with the other letter "ç"

[2020-08-20 21:32] moshfeu commented on #727
I also wonder how did you get to `me/home` because it's not in production yet.

[2020-09-07 06:21] moshfeu opened #730 "[New Dashboard] Move the website field to the channels list"
**Describe the bug**
Currently, the website is one of the channels. In the new dashboard it's a standalone. The server doesn't support it so we should move it back to the channels list.

[2020-10-23 11:10] SgiobairOg commented on #730
Hi @moshfeu can I claim this issue?

[2020-10-23 11:12] SgiobairOg commented on #727
Hi @moshfeu, can I take this issue as well?

[2020-10-24 21:57] moshfeu commented on #730
Sure! Thank you.

[2020-10-24 21:58] moshfeu commented on #727
Sure! Thank you.

[2020-10-25 19:46] SgiobairOg commented on #730
Thanks, @moshfeu looking into it now. Just to check is the current state described in the ticket on master or the feature branch that is open? Is there a URL I'd use to see the stand-alone version and test to make sure it is put back?

[2020-10-25 22:15] #727 closed

[2020-10-25 22:20] #730 closed

[2020-12-01 20:12] moshfeu commented on #704
It's an old one. I'm closing this one. When it will be relevant again, we'll open a new issue.

[2020-12-01 20:12] #704 closed

[2020-12-01 20:12] moshfeu commented on #703
It's an old one. I'm closing this one. When it will be relevant again, we'll open a new issue.

[2020-12-01 20:12] #703 closed

[2020-12-05 16:02] OlushesiToheeb commented on #718
I'll to work on this

[2020-12-05 16:44] moshfeu commented on #718
Go for it. (Just the icon, we'll handle the tablet media query in a separated Pull Request.

[2020-12-09 20:57] moshfeu opened #738 "Refactor <Profile />"
**The goals are:**

- Make the code more simple and readable
- Move out the reusable parts

**How?**

- Create a List component in Storybook
- Use it in `<Profile />` and make each line as a plain code instead of building a model and generate the UI based on it

**UI impact**
None

[2020-12-10 00:04] OlushesiToheeb commented on #718
@moshfeu @crysfel  has anyone work on this PR before? I was about to checkout to a new branch fix this issue and i found that the PR is already there
![image](https://user-images.githubusercontent.com/46800177/101703822-a64b1f80-3a83-11eb-8b2c-ea98663f62aa.png)

[2020-12-15 20:28] moshfeu commented on #738
resolved by #740

[2020-12-15 20:28] #738 closed

[2020-12-19 15:52] moshfeu opened #744 "Request mentorship"
### Product

**Currently**, when the user is not logged in, there is an "apply" button. Click on it redirects to login. After successful login, the mentor's channels appears.

**The new behaviour**, after successful login, the "apply" button should stay.
Click on it, will open the "request mentorship modal". The mentee should fill the message (mandatory) field and submit.

### Technical details

-

[2020-12-19 16:54] moshfeu opened #746 "Mentorships list"
### Product

**Mentor**
A list with requests for being mentor including the mentee's name and avatar, created date and status (pending, approved, rejected).

**Actions** for pending requests: Approve / reject (with message).

**Mentee**
A list of their requests for mentorships including mentor's name and avatar, created date and status (pending, approved, rejected)

**Actions** for pending request

[2020-12-19 16:59] moshfeu commented on #746
@crysfel we need to add the buttons to the mockups.

[2020-12-24 19:11] crysfel commented on #744
I think we should add the other fields as well, I don't think is a lot more work on the UI and the backend already support them.

[2020-12-26 21:01] chochstrasser commented on #744
@crysfel done.

[2020-12-26 21:17] #744 closed

[2020-12-28 14:45] Mooli88 opened #755 "Start/reject mentorship modal"
### Product

**Mentorship Started**
Create a modal with information and confirmation of a new mentee (once approved)

![image](https://user-images.githubusercontent.com/16106431/103221343-4cb77180-491a-11eb-9ad7-61a34515fa73.png)

**Mentorship declined**
Create a modal which allows for rejection message from mentor to mentee.

![image](https://user-images.githubusercontent.com/16106431/103221408-7

[2021-01-03 18:13] NickFoden opened #758 "Header refactor to styled components"
delete header.css file move Header to Styled Components styling

[2021-01-03 22:53] #758 closed

[2021-02-01 13:00] moshfeu opened #771 "Link to the sessions calendar"
Add a link to the [sessions calendar](https://calendar.google.com/calendar/u/4?cid=YWRtaW5AY29kaW5nY29hY2guaW8).

**Desktop**

<img width="485" alt="Screen Shot 2021-02-01 at 14 58 58" src="https://user-images.githubusercontent.com/3723951/106461946-1e3f3000-649e-11eb-97fc-d05313431970.png">

**Mobile**

<img width="332" alt="Screen Shot 2021-02-01 at 14 59 29" src="https://user-images.githubuserc

[2021-02-03 03:15] theboman commented on #771
![Calendar](https://user-images.githubusercontent.com/8676871/106693203-8a3da780-6608-11eb-8cda-ebf9ee4847e5.png)

[2021-02-03 03:16] theboman commented on #771
we should be able to integrate it like this

[2021-02-03 21:50] mia01 commented on #771
@moshfeu @theboman I would need the embed code if we were to go with @theboman suggestion

[2021-02-03 23:43] moshfeu commented on #771
It's a nice idea (even though it looks.. well..) but I'm not sure the current UI is ready for this (it requires changes in the router layout and adding a "child" route in order to keep showing the header in the calendar page.

Let's add a link, complete the mentorship request feature and then think of the required changes.
How this sound?

[2021-02-04 20:48] #771 closed

[2021-02-15 15:50] moshfeu opened #773 "Turn Mentorship guidelines into web page"
// TODO

[2021-02-20 20:00] #755 closed

[2021-02-20 20:01] #746 closed

[2021-03-03 06:57] moshfeu opened #775 "Show channels in mentors card when it's my mentor"

[2021-03-03 06:59] #775 closed

[2021-03-04 09:24] moshfeu opened #776 "Update readme with new "mentorship request" instructions"

[2021-03-24 09:18] koolamusic commented on #776
@moshfeu what's needed here? Maybe I can help

[2021-03-24 09:20] koolamusic commented on #718
@here what's the status on this issue?

[2021-04-05 14:52] brentmclark opened #778 "UI does not convey the 400-character maximum of the new message field"
**Describe the bug**
In the new "Apply to this mentor" feature, the `message` field accepts a maximum of 400 characters.  If the message field is submitted with more than 400 characters an error is returned from the server which manifests as the red toast that says "something went wrong".

While this is all technically accurate, it's a fairly problematic UX since it's fairly easy to overload this

[2021-04-20 22:10] moshfeu commented on #778
@crysfel wouldn't it be better to increase this limit (We're not Twitter after all 😉)?
I think that 400 might not be enough for this kind of inputs.
@brentmclark what do you think?

[2021-05-04 02:22] brentmclark commented on #778
Increasing the limit is a solid idea, but we'd have to increase it to something quite large (5,000 perhaps) to bring the issue above down to a reasonable level.

[2021-05-04 14:22] crysfel commented on #778
Yeap, Agreed, let's increase it!

[2021-05-16 00:37] codingknite opened #785 "Schedule Calls With A Mentor"
I used the platform a couple of weeks ago to try find a mentor and the biggest challenge I had was that mentors literally took forever to reply.

For the record am not complaining😄 I totally understand this is free and people give of their time but in relation to the product roadmap which I read about [here](https://codingcoach.io/blog/cc-product-roadmap-1/) wouldn't it be great if after applying

[2021-05-16 09:06] moshfeu commented on #778
I think we can close it now

[2021-05-16 09:06] #778 closed

[2021-05-16 09:17] moshfeu commented on #785
Hi Joel,

Thanks you for your feedback. You are absolutely right. This is one of our main weaknesses - we don't if the mentor is active or not except when they update their availability.
We have some ideas about how to tackle this.
We are about to launch an improved request mentorship process. Instead of asking for mentorship directly via a mentor channels, the mentee will ask the mentorship via t

[2021-05-16 19:05] codingknite commented on #785
Hey Mosh,

I would be honored to contribute to this project. I think it's a great opportunity to learn but also contribute to a platform that is helping 100s of developers globally.

I do have experience with React...enough that I can make a contribution. Please send me an invite link and I'll join the slack channel.

[2021-06-02 18:09] #776 closed

[2021-06-03 19:54] moshfeu opened #788 "Redirect to last page after login"
Currently if a user try to access back office while they are not logged in, they redirected to the home page.

**The expected result:**

Redirect to login and remember the page they redirected from. After successful login, they should be redirected to this page

[2021-06-04 13:29] daceynolan opened #790 "Allow mentors to request additional feedback on invitations"
**Is your feature request related to a problem? Please describe.**
As a mentor, I would like to request additional feedback when I receive invites for mentorship.  If I receive a request with little to no information about what they want a mentor for, my only options are to reject or accept.

<img width="396" alt="Screen Shot 2021-06-04 at 9 27 10 AM" src="https://user-images.githubusercontent.com

[2021-06-04 16:50] moshfeu commented on #790
Thanks Dacey for taking the time to give this valuable feedback.
I was debating between asking for more information or just giving the mentee's email address.

The motivation of the new mentorship request is because mentees complains about non active mentors. With the old process (just showing the mentors' channels) we couldn't who is active and who is not.
That's why we wanted to change the proce

[2021-06-04 17:02] daceynolan commented on #790
@moshfeu Thank you for the quick response. I do like that mentees can reach out on the app. You are right, some are active and some are not. I have to actively check my Twitter requests because I never see a notification that I have a request. I am afraid I might miss helping people if they reach out to me there first.

 I actually did not think of the use case being if someone requested more info

[2021-06-04 17:14] moshfeu commented on #790
I can't tell you how happy I'm to hear that ☺️ You are the people CodingCoach built for and it worth all the hard work!

I encourage you to register to our staging env (you can give fake details just let me know so I could approve you).
There you can register both as mentor and mentee and send yourself a request so you could experience the whole flow.

Currently the form has 3 fields: background,

[2021-06-04 17:20] crysfel commented on #790
Is really great to know that you've been mentoring through CC, as Mosh said, at this point, we don't know if the platform is really helping people, because we don't know how many mentorships are going on 🤦‍♂️

We do have a couple of other fields in the form, but as Mosh said there was a bug 😅. Eventually, we want to show a full detail page with all that information: https://codingcoach.invisionapp

[2021-06-04 17:39] daceynolan commented on #790
I think the platform is really helping people. I have seen several people my friends and I mentor really grow and get their first positions.
Thanks for sending the invisionapp. I love that request page!

I am a React developer, and can always help with some of the issues.

[2021-06-04 18:05] moshfeu commented on #790
That will be great! We are always looking for developers who can help us and you also seems to have a great product view which is even better :)

If you're willing to take the new mentorship request page, that will be great!

P.S. I mention out staging env but forgot to include the link - https://mentors-staging.codingcoach.io/

[2021-06-07 23:14] moshfeu commented on #790
I just deployed a version with a "mailto" link so mentor can contact the mentee and ask for more details.

<img width="366" alt="Screen Shot 2021-06-08 at 2 13 46" src="https://user-images.githubusercontent.com/3723951/121098750-31249100-c7ff-11eb-863d-25fa6a6f7209.png">

I'd be happy if you can take a look.

[2021-06-07 23:20] moshfeu commented on #790
To the staging env 😅 - https://mentors-staging.codingcoach.io/

[2021-06-08 16:20] moshfeu commented on #790
Sure :)
What do you think about this? Is it good enough?

[2021-06-08 17:53] daceynolan commented on #790
I wasn't able to play around in staging yet, but I think just having the ability to request more feedback will be valuable.

[2021-06-08 21:03] moshfeu commented on #790
Deployed :)

<img width="448" alt="Screen Shot 2021-06-09 at 0 01 59" src="https://user-images.githubusercontent.com/3723951/121257167-0fd2ac00-c8b6-11eb-84ac-8209e36192e4.png">

[2021-06-08 21:03] #790 closed

[2021-06-09 06:33] moshfeu commented on #718
This already fixed in https://github.com/Coding-Coach/find-a-mentor/blob/34c0f62f6b2d6ae5d0a5b2b094f5698bfb68b217/src/Me/Modals/Modal.js#L178

Thank you all

[2021-06-09 06:33] #718 closed

[2021-06-09 19:39] nikhils4 commented on #788
Hi @moshfeu,

I am not sure if this approach would be feasible or not, but once we get the Unauthorised response from the server, before redirecting can't we store the URL of the current page in `Local Storage` and once the user has successfully logged in, we can check for the existence of that particular value in `Local Storage` if that's available we can redirect the user to that page else we ca

[2021-06-10 06:16] moshfeu commented on #788
Hi @nikhils4!
I believe it can be done that way but it might cause issues. For instance, if the user closes the browser before the login completed and they redirected back to our site. This way, next time the user comes to the website, we have the local storage value and we'll try to redirect them to the back office.

I'd suggest to [use the `state` param of auth0](https://auth0.com/docs/users/red

[2021-06-11 13:58] moshfeu opened #795 "Allow to cancel / edit mentorship request"
Allow mentees to cancel / edit mentorship request.

If anyone is willing to take this and need more explanations, I'll add them.

[2021-06-11 16:21] innovember opened #796 "Change display of "my mentorship requests""
Instead of long list , divide "my mentorship requests" to several tabs , for example New/Approved/Viewed/Rejected and etc
Or add filter to "my mentorship requests" by status,date and etc

[2021-06-11 16:28] innovember opened #797 "Add navigation tab"
Add navigation tab to the "mentors" page , like in the "me" page that will improve transition, and reduce time to search your own profile in "mentors" page

[2021-06-11 16:30] moshfeu commented on #796
Nice one!
Do you have many request already? So exiting :)

[2021-06-11 16:39] innovember opened #798 "Add new parameter to the filter in "mentors" page"
Add availability parameter to the filter , for example available/unavailable
It will be like this,  mentors will set a status in their own profile by choosing own availability, then when other users will use filter with availability parameter, unavailable mentors wouldn't be shown in the result

[2021-06-11 16:55] innovember opened #799 "Add links to the website"
Add "submit issue/feature" link to the website, where other users can submit issue/feature in github page instantly, rather than sending a message to the staff with offer/report, and then wait till available staff member will add your issue/feature
Add "contribute to the website" link to the website

[2021-06-11 22:50] moshfeu commented on #797
Nice idea!
We have a plan to re-design the mentors list to the same look and feel as the "me" area [here](https://codingcoach.invisionapp.com/prototype/coding-coach-app-ck30g80zl0049j901a2gfsqbf/play/9db7cc19?linkshare=urlcopied&v=Qqv%2BCuo08%2Bb%2FTJMllfVbZw%3D%3D).
I'm not sure what is the timeline for that.

[2021-06-14 00:22] moshfeu opened #801 "Typescript please"
![ts-icon](https://user-images.githubusercontent.com/3723951/121826256-7d6c4700-ccbf-11eb-997a-0868311b1d23.png)

[2021-06-15 02:21] brentmclark commented on #795
@moshfeu I'll grab this.

[2021-06-15 04:18] moshfeu commented on #795
Thank you!
May hold on a bit because I'm changing basically all the files in the project as part of #802 .

I'll find a stable point, merge to master then you could checkout and I'll continue.

Let's start with the server side if sounds good?

[2021-06-15 05:27] Qazzquimby opened #803 "/me/requests has no content, despite email announcing waiting mentee"
**Describe the bug**
After receiving the "Mentorship Requested" email, the linked page https://mentors.codingcoach.io/me/requests has no content
![](https://i.gyazo.com/c494bb25a6effe63efc0975ad9143505.png)
No errors in the console.

**Desktop (please complete the following information):**
Windows
Chrome

[2021-06-15 05:43] moshfeu commented on #803
Thanks @Qazzquimby!
Seems like it's a cache problem and you have an older version of the site. Can you try to [hard refresh](https://www.documate.org/automation/what-is-a-hard-refresh-how-to-do-a-hard-refresh-in-any-browser/) the page please?

[2021-06-15 18:37] brentmclark commented on #803
I was able to resolve this on my machine by unregistering the service worker.

[2021-06-15 21:12] rolsen opened #804 "Apply button missing / cache issue"
**Describe the bug**
I'm unable to see the Apply button for any mentors on https://mentors.codingcoach.io/.

Logging in with an Incognito window fixes the issue.

**Screenshots**
No Apply button with regular Chrome session:
![Screen Shot 2021-06-15 at 15 02 51](https://user-images.githubusercontent.com/279439/122123686-80645600-cdeb-11eb-954f-cd62b1628a27.png)

With Incognito:
<img width="1363" al

[2021-06-15 22:27] moshfeu commented on #804
Thank you for reporting this!
https://codingcoach.tawk.help/article/there-are-some-missing-how-should-proceed

[2021-06-16 00:26] rolsen commented on #804
Shift-reload fixed it for me, thanks!

No need to keep this issue open on my account.

[2021-06-16 00:41] Qazzquimby commented on #803
Thanks, that did it for me 👍

[2021-06-16 00:41] #803 closed

[2021-06-16 07:15] moshfeu commented on #804
Thanks @rolsen 🤩

[2021-06-16 07:15] #804 closed

[2021-06-16 08:30] moshfeu commented on #797
I'm closing it for now because it's already in our plan.
Thank you!

[2021-06-16 08:30] #797 closed

[2021-06-16 08:54] moshfeu opened #805 "Meaningful window `title`"
Currently, the window's title (`<title>` tag) been updated only in mentors list page but not for the "Me" (backoffice) pages.

For this, we can use [react-helmet](https://github.com/nfl/react-helmet) by the following hierarchy:

- Main title (top level `<Helmet />`) is "CodingCoach". `titleTemplate` is `%s | CodingCoach`
- Me pages - Every page should has its own name. eg. `Home`, `Mentorships`
-

[2021-06-16 09:13] moshfeu commented on #799
We have a link to Github, don't you think it's enough?

[2021-06-16 09:18] moshfeu opened #806 "Fix Mentorships Request page headline"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mentors.codingcoach.io/me/requests

**Expected behavior**
Page headline should be "Mentorships" instead of "Home"

**Screenshots**

<img width="497" alt="Screen Shot 2021-06-16 at 12 17 40" src="https://user-images.githubusercontent.com/3723951/122193102-e0ff9b80-ce9c-11eb-9ae2-fdec525a5584.png">

[2021-06-16 09:45] innovember commented on #799
Yes, it's enough , I just found it in "about" page
I think it depends on users, if they're atttentive enough
For example, while searching for github link, I noticed shop, mocks, and blog pages that I haven't noticed before

[2021-06-16 09:50] moshfeu commented on #799
We have this also in the home page :)

<img width="831" alt="Screen Shot 2021-06-16 at 12 50 22" src="https://user-images.githubusercontent.com/3723951/122198060-7ac94780-cea1-11eb-8cb9-ee26dfa4605b.png">

[2021-06-16 10:30] innovember commented on #799
"about" page in mentors its a home page you mentioned, we are talking about same thing
 yep, icon you showed in a box that was what I told you earlier
I think we can close this one

[2021-06-16 19:18] Sayrai commented on #806
Interested 🙋🏽‍♀️

[2021-06-16 19:27] Sayrai commented on #806
Do I do a fix and send in a Pull Request? Or this is assigned to be then the former.

[2021-06-16 22:16] moshfeu commented on #806
Yes please :)
1. Fork
2. Clone
3. `git checkout -b [a-nice-branch-name]`
4. Fix
5. Commit
6. Push
7. Create a Pull Request
8. Approve
9. Thanks 😄

[2021-06-17 02:08] Sayrai commented on #806
Okay, on it.

[2021-06-17 05:46] moshfeu commented on #806
Thank you!

[2021-06-21 17:33] moshfeu commented on #806
Fixed by #807

[2021-06-21 17:33] #806 closed

[2021-06-21 17:34] moshfeu commented on #799
Thank you!

[2021-06-21 17:34] #799 closed

[2021-06-22 05:19] moshfeu commented on #795
I finished the first phase of moving to typescript. I'll take a break from it so we could work on other tasks and will complete typescript once we will be more stablize (new code will be in ts of course)

[2021-06-29 06:53] moshfeu commented on #788
@nikhils4 do you want to take this?

[2021-06-29 06:57] nikhils4 commented on #788
Sorry for not getting back on this, had a crazy last week and would remain unavailable until next week, later I can pick this up, if that's okay.

[2021-06-29 07:09] moshfeu commented on #788
No worries!
I'll keep it "help needed". If someone could take it before, you could pick another one.
Thanks!

[2021-06-29 17:47] nikhils4 commented on #788
Thanks a lot, for sure once available will pick this up :)

[2021-07-01 19:24] moshfeu opened #815 "Improve tawk button position"
Currently tawk's button is in the most top layer using insane `z-index` `!important`.
Seems like there is no way to configure this. The only way is to hide it and use tawk API to show / hide the chat.

https://help.tawk.to/article/using-a-text-link-or-button

UI-wise, we can use their image for the show / hide button so it basically will look the same.

[2021-07-02 14:03] moshfeu commented on #798
Although it's not exactly what you suggested, https://github.com/Coding-Coach/find-a-mentor/commit/5be1333dd3da5e91fc062ec1c17a9d658bcb3cff solves the same problem - non available mentors are not in the list anymore but the can be found using the `name` filter.
What do you think?

[2021-07-02 14:47] innovember commented on #798
It's okay, that's also good solution. Since this issue already solved, you can close this one.

[2021-07-02 16:01] moshfeu commented on #798
Thank you!

[2021-07-02 16:01] #798 closed

[2021-07-03 07:01] Clancey opened #817 "Emails from Coding-Coach are formatted improperly"
It renders properly in Chrome/gmail.

However when I view the email in Spark on Mac, it looks like the following:
<img width="1036" alt="Screen Shot 2021-07-01 at 8 07 36 PM" src="https://user-images.githubusercontent.com/256046/124346091-53ed5f80-db89-11eb-9384-c2b6801dd15f.png">

[2021-07-15 04:34] migtomace commented on #788
Hi, I have forked the repo and have it running. I would like to work on this issue but would like clarification on the "back office". Is this a space for mentors?

[2021-07-15 04:44] migtomace commented on #788
Actually, I see the issue.

[2021-07-15 04:58] moshfeu commented on #788
Great :) Thank you

[2021-07-18 13:52] #805 closed

[2021-08-08 02:41] khareyash05 opened #828 "Error 404 page"
There is no error 404 page for the same I would like to make one.

[2021-08-08 07:01] moshfeu commented on #828
Right!
Go for it :)
Do you have a design in your mind? Maybe we can take the design from the portfolio site: e.g. https://codingcoach.io/not-found

[2021-08-08 11:43] Lightjohn opened #840 "Mentor can view mentee mail after approving mentorship"
Hi,

I just met the case where I was willing to accept a mentorship but still wanted to give some answers to mentee.

After approving mentorship the mail is not available anymore so in that case I can't contact the mentee until he contact me first which was possible before approving.

Would it be possible to keep an easy way to contact mentee from the mentorships section of the website?

[2021-08-08 14:15] khareyash05 commented on #828
I dont have one . thank you for the design

[2021-08-08 15:13] codingknite commented on #796
Can I take this one on?

[2021-08-08 17:14] khareyash05 commented on #828
@moshfeu Do u want the same background with a little tweaks?

[2021-08-08 20:20] moshfeu commented on #796
@codingknite Sure. Thank you!
Do you have a design in your mind?

[2021-08-09 11:21] codingknite commented on #796
@moshfeu Not really

[2021-08-10 02:44] migtomace commented on #788
@moshfeu Where is isMentorIntent being inputed into the login function? It's not called in the LoginNavigation. I would like to add a from parameter as well, but I'm not sure I can do that without messing up other code.

login = isMentorIntent => {
    this.auth0.authorize({
      appState: {
        origin: isMentorIntent ? 'mentor' : 'user',
      },
      redirectUri: window.location.href
    }

[2021-08-10 05:15] migtomace commented on #788
Nevermind, I figured it out finally. Now I am dealing with the same issue logging out of the backend. It needs to be sent to the front end to logout or else it just keep logging back in.

[2021-08-10 08:34] moshfeu commented on #796
It could be a dropdown ([`<Select />`](https://github.com/Coding-Coach/find-a-mentor/tree/master/src/Me/components/Select)) with All/New/Approved/Viewed/Rejected/Cancelled - All is selected by default.
What do you think?

[2021-08-10 10:06] codingknite commented on #796
@moshfeu That Sounds great. I had also thought of something which I thought would perhaps offer better user experience. Let me know what you think about this. In any other case we can continue with your implementation

![IMG_20210810_125525_0](https://user-images.githubusercontent.com/70036189/128848479-11c7688b-18f5-4ec1-8b02-6284ea9bd2c3.jpg)

[2021-08-10 15:19] khareyash05 commented on #828
@moshfeu Can I use bootstrap for the error page ?

[2021-08-10 21:02] moshfeu commented on #828
Better not to because we don't use it elsewhere.
Can you manage it without?

[2021-08-11 02:42] khareyash05 commented on #828
Ya I can manage Thanx

[2021-08-12 02:36] khareyash05 commented on #828
@moshfeu how to solve this- The error page is displaying on the home screen and this is my code for route
`<Route path="*"component={PageNotFound} />`
and this is lazy component
`const PageNotFound = React.lazy(() =>import(/* webpackChunkName: "ErrorPage" */ './PageNotFound'));`

https://user-images.githubusercontent.com/60147732/129129781-d2de1f31-d2d7-4a4f-be0a-93ac364bcdef.mp4

[2021-08-14 09:46] isiakaabd opened #833 "Adding Formik to Register/Login page"
**Is your feature request related to a problem? Please describe.**

The signup/login page only have HTML validation.(the required attribute,)

**Describe the solution you'd like**

with Formik, more aesthetic, validation and functionality to the form

[2021-08-14 11:43] khareyash05 commented on #833
@isiakaabd What other validations are needed??

[2021-08-14 20:26] moshfeu commented on #833
Hi, thank you for the feedback!
I'm not familiar with Formik but from a very quick look it looks awesome!

Have said that, the login / register forms are generated and actually hosted in auth0 - our authentication provider so we don't have much control of it.

Auth0 gives the ability to make our own login / register page but since it does work, I believe we should put our limited resources (develo

[2021-08-14 21:03] isiakaabd commented on #833
Thanks for the response Moshfeu,
The current UI is awesome,my thought was having the signup/login button inactive when no email/password is enter, so a user don't bother at all on clicking it, also it helps to format the UI and things like password strength and the likes can be displayed.

I would love to explore other forms that react formik can be used. I will further search the repo and a direc

[2021-08-29 15:34] moshfeu commented on #788
Done by #830 👏

[2021-08-29 15:34] #788 closed

[2021-08-31 07:26] moshfeu commented on #840
Actually it's a client issue since the server returns the email anyway.
@Adrian-M-A

[2021-08-31 07:28] moshfeu commented on #840
Here: https://github.com/Coding-Coach/find-a-mentor/blob/b914a49541b79ec2719472e520cfaf913c7717c5/src/Me/MentorshipRequests/ReqContent.js#L110.

[2021-09-02 00:51] ojalmaps commented on #795
It will great if this feature is implemented 👍

[2021-09-02 04:19] moshfeu commented on #795
Hi @ojalmaps ,
Are you talking about the edit mentorship part?

[2021-09-02 08:02] moshfeu opened #843 "Encourage mentees to give a full information when they're applying to mentorship"
Currently, the apply form contains background, expectations and message. Only message is required and can be even 1 character.

We want to avoid low quality applications to not waist mentors time and attention.
Therefor, all the 3 fields will be required and mush have at least 30 characters.

We should add a sentence to encourage the mentee to add as much information as they can and include a link

[2021-09-02 08:58] moshfeu opened #844 "Update mentorship guidelines links to codingcoach.io"
Now that we have the mentorship guidelines doc in our portfolio site, we should update all the links to the new place

[2021-09-02 16:03] ojalmaps commented on #795
I am talking about the cancel mentorship part.

[2021-09-02 17:06] moshfeu commented on #795
This is already implemented.

![Screen Shot 2021-09-02 at 19 25 42](https://user-images.githubusercontent.com/3723951/131881531-97b26788-a626-4cdb-bcf4-d1a7487d9c48.png)

Notice, the cancel button is only when mentor hasn't respond to the request yet.
Once the mentor approved, the cancellation should be "face to face".

Makes sense?

[2021-09-03 15:55] #843 closed

[2021-09-03 15:55] #844 closed

[2021-09-20 08:09] moshfeu opened #849 "[refactor] - Make only one list of tags"
Currently we have 2

https://github.com/Coding-Coach/find-a-mentor/blob/master/src/components/MemberArea/tags.js

https://github.com/Coding-Coach/find-a-mentor/blob/master/src/Me/Modals/tags.js

We should move them to a different file so both of the consumers ([here](https://github.com/Coding-Coach/find-a-mentor/blob/976460f37e16332f71c4a044c20ce5230e8a6fc2/src/Me/Modals/model.tsx#L3) and [here](h

[2021-09-26 20:24] moshfeu opened #852 "Create a mentor profile page"
Create a user profile page to give us more real estate for more tags and longer description + show more details and spoken languages and time since they joined.

This will open a door for more features such as showing more information on the mentors, mentees profile page and more

**Technical details:**

- The mentors card in the mentors list will now show a "go to profile" button in the footer. I

[2021-09-27 08:49] moshfeu opened #854 "Modal buttons been cut on mobile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Click apply on any mentor card

**Screenshots**
![Screenshot_2021-09-27-11-45-50-026_com android chrome](https://user-images.githubusercontent.com/3723951/134875586-ebd53e38-e535-497d-b34b-b4d01e73313c.jpg)

**Smartphone (please complete the following information)

[2021-09-28 11:11] ProCode2 commented on #854
Making the Footer's position absolute and sticking it to the bottom should fix this. Can I take this up?

[2021-10-01 15:58] #840 closed

[2021-10-12 12:48] OlushesiToheeb commented on #849
@moshfeu  should I delete the duplicated files after turning it into a single file?

[2021-10-12 15:19] moshfeu commented on #849
Yes

[2021-10-12 20:46] #849 closed

[2021-10-13 07:25] OlushesiToheeb commented on #815
HI @moshfeu I'll love to solve this issue

[2021-10-13 15:47] brentmclark opened #858 "Allow mentors to mark themselves unavailable from the accept/reject flow"
**Is your feature request related to a problem? Please describe.**
Mentorship requests come in after a mentor has accepted a new mentorship, or has recently cancelled requests.  I believe this is because the mentors are still marked as available, but in their head they are not interested in taking on any more mentorships at this time.

**Describe the solution you'd like**
The moment a mentor accep

[2021-10-19 16:34] #852 closed

[2021-11-16 08:17] smatthies opened #862 "Missing helptext / missleading label for form field"
I just stumbled across this myself while filling out my profile; the field/label "Title" when editing the Profile was a bit misleading for me. At first I left it blank, because I had something like "Prof." or "Dr" or any other academic title in mind. When the error message popped up saying that the field is not optional I've added "Mrs", which als ended up in a error message that the field is miss

[2021-11-16 08:21] moshfeu commented on #862
You are right.
We should
- Set the min length to 3
- Add help text - `e.g. software developer. >3 characters.`

[2021-11-21 01:07] thuongtruong1009 opened #864 "Let me join organization"
I have just been a mentor of Coding-Coach. So, I want to join your organization to learn more and more.
![image](https://user-images.githubusercontent.com/71834167/142745349-daf90395-5727-4ddf-a0dc-c8dbd340b3f9.png)
![image](https://user-images.githubusercontent.com/71834167/142745359-9c494972-b95c-4161-a2a4-9db464d6482d.png)
![image](https://user-images.githubusercontent.com/71834167/142745372-83

[2021-11-21 05:58] rdkamali opened #865 "Report requests for mentorship"
I received a request for cheating on the interview test and the user requested that I take the test instead.
I think there should be a way to report on these types of requests and the user can not request any mentor.
And there is a path for reporting and feedback about the mentor, for example, if the mentor does not work well, it should be evaluated by other users.

[2021-11-21 07:38] #865 closed

[2021-11-21 16:17] moshfeu commented on #864
Hi Tran Nguyen Thuong Truong, welcome!
We'd love to to take a part at CodingCoach.
Feel free to go through our codebase, websites and Slack, you can learn a lot from them.
If you have specific question / ideas, you can open a discussion here or on Slack.